[2017-08-10 11:59] Filipowicz251 opened #1 "Creating initial hack"
Hi.

I'm creating new topic, where we can discuss creating hack for Xiaomi Mijia 1080P Smart IP Camera (not Fang, not 360)

[2017-08-10 12:03] andreq commented on #1
+1 I'll see what I can do when I receive my camera

[2017-08-10 12:05] sendorm commented on #1
I am willing to give it a test also. Thanks

[2017-08-10 14:11] tobbegutt commented on #1
Thank you all for help. Im sure a lot of people will benefit from this

[2017-08-16 21:18] kollaesch commented on #1
boot-uart-log can be reviewed at [pastebin](https://pastebin.com/raw/nt4GUAeF)

Pictures follow tomorrow.

I repeat it here:

[2017-08-16 21:47] snoerenberg commented on #1
@kollaesch nice 👍

Can you "write" also something into console?

[2017-08-17 05:08] kollaesch commented on #1
@snoerenberg Sry for not mentioning: Yes, I can type. But no response from the system.
(If I removed the cable from TX - typing was not working)
So RX and TX are working.

What would be the next steps?

[2017-08-17 06:20] snoerenberg commented on #1
@kollaesch I wanted to copy the binaries from the cam to to the SD card. But without response from serial console it will not work.

On the xiaofang cam have been scripts which start a particular file on SD Card if inserted and present. I wanted to check if there is such an easy way to get root and to dig deeper into it.

Other way I want to try:
- configure cam with Mi app
- hopefully a firmware

[2017-08-17 11:55] itanczos commented on #1
Great news!
Looking forward to the developments!
I am willing to give it a test also. Thanks

[2017-08-17 13:29] snoerenberg commented on #1
@kollaesch can you interrupt the boot process? Press any key while not yet the Linux kernel was loaded. Maybe we can use U-Boot functionality to dump the actual firmware.

from your UART-Boot log it should be possible:
`Hit any key to stop autoboot:  0`

This could be a starter:
https://reverseengineering.stackexchange.com/questions/6300/extracting-a-firmware-image-via-u-boot
https://www.google.co

[2017-08-17 13:49] kollaesch commented on #1
@snoerenberg Cool! I missed that.
I'll check in approx. 2 hours and let you know.

[2017-08-17 15:37] snoerenberg commented on #1
@kollaesch @itanczos sad that mine is still in transit ... maybe we find a hack until its delivered ;)

[2017-08-17 15:55] andreq commented on #1
@snoerenberg Same here! I'm following real close all those nice findings! Mine is sitting somewhere between China and Canada .

[2017-08-17 16:22] itanczos commented on #1
Mine is already on the table. :)

[2017-08-17 16:25] kollaesch commented on #1
Update: Diff from boot with pressed 'any'key ;)
So this still means not active terminal on by USB-UART.
Also we're looking for 'tf_recovery.img'.

[code]

[2017-08-17 16:28] itanczos commented on #1
If I remember correctly, CTRL + C had to be interrupted for another model.
Did you try?

[2017-08-17 16:29] kollaesch commented on #1
Also one possible correction from my side regarding the two pins near the SoC:
(I wrote the names of the USB-UART-PINs that have to be connected to that pins on the cam)

* The right one transmits the datalog from the unit.
* The left one receives the input from the terminal.

[2017-08-17 16:34] kollaesch commented on #1
from @itanczos

That did it ...
I only have to hands, so I had to use my new 'helping hand'.
I'm in the DFU-console.

[code]

[2017-08-17 16:43] itanczos commented on #1
Temporarily change the kernel boot command.
Instructions: https://www.youtube.com/watch?v=fBjKTfWN4TI&t=150s

[2017-08-17 16:50] snoerenberg commented on #1
@itanczos to enable writable serial console on Linux?

@kollaesch great! Maybe you can try some "read only" methods (fatinfo, fatls, flinfo, mi!?, printenv)?

[2017-08-17 16:55] itanczos commented on #1
@snoerenberg this temporarily!

[2017-08-17 16:59] kollaesch commented on #1
In the meantime I'm struggeling with tcpdump.
I limited the download-traffic and try to run the firmware update. Dumping cam and iphone didn't give me any results so far :(
Ideas?
[code]

[2017-08-17 17:23] snoerenberg commented on #1
@kollaesch hmm I have not used tcpdump yet. Could you see any traffic from the cam? I think the iPhone does not send anythin interesting. Maybe you can start firmware update through LTE and than look at the traffic at your home network.

@itanczos I just wanted to make sure that I got it right (could not yet have a look at the YouTube link).

In wireshark I used some predefined HTTP Requests view.

[2017-08-17 18:50] kollaesch commented on #1
I soldered cables to the pins to have a hand free ... now stopping the boot will be easy.

results:
[code]

[2017-08-17 19:09] kollaesch commented on #1
Well, setting the boot-

[code]
Brings me/us to...
[code]

Ideas for reviving?

[2017-08-17 20:02] snoerenberg commented on #1
@kollaesch I've no experience to change Linux startup commands.

You tried to set it to the initial state (nothing changed, just stored again) and it fails now to boot?

[2017-08-17 20:11] snoerenberg commented on #1
doc/README.arm-unaligned-accesses Is within the SDK ... no clue

[2017-08-17 20:32] kollaesch commented on #1
Fails to boot. The `doc/README.arm-unaligned-accesses Is within the SDK ... no clue` is from [u-boot](https://github.com/gonzoua/u-boot-pi/blob/178d0cc1a4c73c3341afbeb2a93b172de8c96bd1/arch/arm/lib/interrupts.c)
So basically it 'freezes' right after it starts. I hope waiting over the weekend helps. (ROM-reset?)

I opened up my second new cam. But didn't had any luck with wireshart or tcpdump yet.

[2017-08-17 20:52] itanczos commented on #1
Why did cmd4 have been modified? If I saw it, there are not 512MB of memory in the camera.
I think cmd1 should be modified!
Or maybe bootcmd?

[2017-08-17 20:58] kollaesch commented on #1
I modified all cmd's ...
I prepared the 2nd cam ... wish me luck ;)

[2017-08-17 21:05] kollaesch commented on #1
AVIOD `saveenv` for now!!

Nailed it by:
1) connecting the UART by RX,TX as described before.
2) `picocom -b 115200 /dev/tty.usbserial-XXXX`
3) connecting the power to the cam
4) immediately hold `Ctrl+C`
5) enter the `setenv ...`-Line
[code]
6) then enter into the console `boot` to start the boot-process
[code]
Result:
[code]

[2017-08-17 21:07] theDoc5655 commented on #1
Serious progress here 🥇

[2017-08-17 21:14] itanczos commented on #1
Good News! 👍

[2017-08-17 21:15] snoerenberg commented on #1
@kollaesch great 👍 try to copy as much as possible to a mounted SD card? Than upload it to zippyshare or something :)

My cam will be delivered tomorrow. Got the notification from Hermes (Germany) some minutes ago.

[2017-08-17 21:41] kollaesch commented on #1
I tar-ed the whole system. (265MB)
Particular interests?

[2017-08-17 21:50] snoerenberg commented on #1
For the XiaoFang cam have been some scripts which executed the snx_autorun.sh. Something similar to this would be great.

Is telnetd installed?

Could you copy the rtspd from SDK to cam and start it? Before you would have to kill the Xiaomi/Mii apps for sure.

[2017-08-17 22:01] kollaesch commented on #1
[code]
Is also not to be found in `/bin` and `/usr/bin`.

[2017-08-17 22:02] kollaesch commented on #1
@snoerenberg You mean copy it precompiled?

[2017-08-17 22:17] willthrom commented on #1
@kollaesch  what happened to the first camera after you modified the env?
Cannot you stop the booting and change it again?

[2017-08-17 22:20] willthrom commented on #1
And from my completely ignorance... why did you save a change without testing it first?
I mean, without running saveenv the changes are in memory... why did you need to save them?

[2017-08-17 22:23] kollaesch commented on #1
@willthrom
1) no I can't stop it from booting.
2) I relied on/trusted the shared Youtube-video that said: "saveenv" => lesson learned...

[2017-08-17 22:27] willthrom commented on #1
@kollaesch  http://www.denx.de/wiki/publish/DULG/to-delete/UBootCmdGroupEnvironment.html   for the future.. :)

According to some doc you might have to reset the board.. but I don´t know anything about that.. yet

[2017-08-17 22:37] willthrom commented on #1
@itanczos that video doesn´t seem to do TEMPORAL changes... unless you mean a change to be removed later in a near future XDDD

[2017-08-18 06:13] kollaesch commented on #1
I tried several ways of resetting my 'frozen' cam.
1) As the boottext indicated by 'Resetting CPU ...' and 'resetting ..." - I just waited a couple of minutes. => no change
2) I played around with resetting by the 'reset'-button on the side.
So far no luck.

Option3) read-out the u-boot-Data-addresses from cam2 and write it (by tftp?) or uart to cam1.
Any suggestions on that? (I got no experiences

[2017-08-18 06:22] willthrom commented on #1
@kollaesch  so that camera is just resetting all the time? or just freezing in every power up...?

I have not experience with those commands but I am trying to find the purpose of the cmd and why you cannot stop the the boot process now.

Could you upload the boot log from the working camera and from the not-working camera? I would like to compare them.

[2017-08-18 06:39] willthrom commented on #1
@kollaesch just reading about uploading U-Boot.... someone might know if this HW has a BDM or JTAG interface..... which are used to load U-Boot in "clean/new" boards...

[2017-08-18 06:41] kollaesch commented on #1
Basically, if you compare [this](https://pastebin.com/raw/nt4GUAeF) and [that](https://github.com/Filipowicz251/mijia-1080P-hacks/issues/1#issuecomment-323166359) - you will have everything you need.
The bootmessage on the frozen one is that short. :/
Thanks for looking into that! @willthrom :1st_place_medal:

[2017-08-18 06:59] kollaesch commented on #1
@willthrom regarding the BDM / JTAG: based on the listed Chip "GD25Q128C" I found this [here](https://wikidevi.com/wiki/MQmaker_WiTi_Board).
It's also refered as "GigaDevice".
It's also listed in their [bootlogs](https://wiki.openwrt.org/toh/mqmaker/witi#bootlogs).
According to the 1st link that router-board has JTAG.
The 2nd link points up a couple of things regarding tftp and serial console.
But

[2017-08-18 07:02] willthrom commented on #1
Well... TFTP can be used to load a new U-Boot Image but you need for that a Working U-Boot which you don't have. The JTAG / BDM are interface to directly write to the memory a new U-Boot (I am not an expert on this though).

I am focus now in how to restore whatever is corrupted....

[2017-08-18 07:19] willthrom commented on #1
@kollaesch

You are getting a DATA ABORT but I cannot find anyone (yet) getting that message BEFORE loading the kernel (**:edit** I found it but you haven't changed anything to U-BOOT only the cmd for the kernel, as far as I know).... You should see that message after the:

Could you try to check again the boot log from the broken one? Maybe you missed/lost some data coming from the UART interface

[2017-08-18 07:45] willthrom commented on #1
I am lost with that DATA ABORT.. it is like the U-BOOT image is corrupted but no idea why or how
http://www.linuxjournal.com/files/linuxjournal.com/ufiles/imagecache/large-550px-centered/u1002061/11551f1_0.jpg

I still think you missed some logs dump to the terminal... :)  Hopefully someone here can correct/amend all what I have said (from my 2 hours reading U-Boot documentation)

[2017-08-18 07:56] kollaesch commented on #1
Well, I'm afraid that something happend during the write process. :-1:
(`Erasing SPI flash...Erase command 64K // Writing to SPI flash...done`)

[code]

[2017-08-18 08:41] willthrom commented on #1
The GD25Q128c is the SPI NOR Flash.  Which as you can see this kind of "devices" requires to erase before writing back.    No idea yet how to Write a a copy from the working camera.. yet. Still I think JTAG will help but I am sure someone here has more knowledge than I do.

[2017-08-18 09:56] kollaesch commented on #1
I uploaded the system as [zip](http://www2.zippyshare.com/v/sxYPgJ0L/file.html) (zip that includes a tgz).

Have fun! I'm out for the weekend and pickup tinkering on Monday.

[2017-08-18 10:08] kollaesch commented on #1
I uploaded the system as [zip](http://www39.zippyshare.com/v/gbkeEUpf/file.html) (7zip that includes a tgz).

Have fun! I'm out for the weekend and pickup tinkering on Monday.
So far this was very exiciting. Thanks for your support! :+1:

[2017-08-18 17:42] andreq commented on #1
@kollaesch I've dug deep, ended up on some russian forums and what not.... I think your best bet, if you have the tool and skillset, would be to read the SPI flash chip from the good working one and flashing the whole thing to the broken one.

I'll keep digging for easier, software solutions tho!

I think we need to find a way to recover cameras if we don't want to end up with a bunch of bricks :P

[2017-08-18 20:18] willthrom opened #2 "Restoring U-boot (+ Firmware)"
This is a work in progress.....  Gathering information

Camera Memory chipset (SPI NOR Flash): GD25Q128c (data-sheet on link)
http://www.gigadevice.com/product/detail/5/260.html?locale=en_US

**Assuming direct connection to the chip: USB SPI Programmer?**
https://en.wikipedia.org/wiki/Bus_Pirate ???
http://www.ebay.co.uk/itm/NANO-BIOS-Programmer-for-PC-M-B-BIOS-repairing-/280388472031 (lists this

[2017-08-18 20:20] willthrom commented on #1
@kollaesch I have created an issue for Firmware recovery. Just to keep a place with the information we start gathering.... hopefully some expert will join us.

(so we can leave this one for the "OS/App" hacking... make sense?)

#2

[2017-08-18 20:25] andreq commented on #1
Great idea. I'll follow up on the other issue if I find anything else.

[2017-08-18 21:13] kollaesch commented on #1
split to new issue? Good idea!
@willthrom, @andreq approved 😋

[2017-08-19 06:57] snoerenberg commented on #1
Hi, I dumped the whole 16MB SPI as follow in u-boot:
- sf read 0x0 0x0 0x1000000
- md.b 0x0 0x1000000

This needs 3h to complete :) ... the result (the whole memory is logged to serial console) must be cleaned up.
I tried to read from SPI and write to MMC but I was only able to write ~1MB.

With binwalk you can analyse/extract the different images.

Idea from: http://www.openipcam.com/forum/index.

[2017-08-19 07:53] willthrom commented on #2
Can anyone provide a better image of the memory chip in the camera board? GD25Q128c

[2017-08-19 08:04] willthrom commented on #1
@snoerenberg Do you need that dump for anything in particular or just a backup of the whole memory?
(I am just guessing to be able to restore IF no boo-u direct access to the SPI Flash will be required)

Have you discovered yet if the camera will load any automatic script when inserting the SDCARD?
I checked the original fanghack and that is very clean, but I guess if the camera doesn´t support an

[2017-08-19 09:20] itanczos commented on #1
@willthrom Probably an encrypted UDP connection. Like other xiaomi devices.
Need a token.
Can be recovered from mihome app (from sqlite3 table).

[2017-08-19 17:38] snoerenberg commented on #1
@willthrom within the dump also the Miio apps are included (which are not accessible through the custom U-Boot boot). Within this also some scripts are started.

Interesting would also what the different "ft_mode"'s are.
"privkey.pem" and "rsa_decrypt" are present in firmware as well.

I will also analyze the custom U-Boot which prints out the ft_mode directly at the start.
"ft_mode:0"
Upon the ft

[2017-08-19 17:41] willthrom commented on #1
@snoerenberg  oh nice, a lot of info. Mine is still on its way...hopefully next week. But if you upload the dump somewhere I might be able to take a look (in case I could help).

[2017-08-19 18:36] snoerenberg commented on #1
@willthrom sure, I need to check which cam specific information is within user space ;)

[2017-08-20 17:58] willthrom commented on #1
---
ft_mode seems to be a flag driving the initialization of the camera with 5 modes (0-4). Analysis bellow

[2017-08-20 18:02] willthrom commented on #1
https://s3.amazonaws.com/fdt-files/FDT+IP+Camera+CGI+%26+RTSP+User+Guide+v1.0.2.pdf

getftpattr
Function Get the attributes of FTP setting.
Privilege admin
Usage /cgi-bin/hi3510/param.cgi[?cmd=getftpattr]
Param. None
Return ft_server Server address.
ft_port Server port.
ft_username Username.
ft_password Password.
ft_dirname Storage path.
ft_mode Whether to enable the passive mode?
0: Diasble
1: En

[2017-08-20 20:09] snoerenberg commented on #1
@willthrom download the tar from @kollaesch and investigate the squashfs.
http://www39.zippyshare.com/v/gbkeEUpf/file.html

File: squashfs-root\etc\init.d\rcS

[2017-08-21 07:36] willthrom commented on #1
That locations is forbidden at work. Can anyone upload it to this current project? and I will delete it later.

[2017-08-21 08:19] tobbegutt commented on #1
here u go buddy https://drive.google.com/file/d/0By-yfItv_8JMRjRCd2RpRFduXzg/view?usp=drivesdk

Sendt fra min Mi-telefon
On willthrom <notifications@github.com>, 21. aug. 2017 09.36 wrote:

That locations is forbidden at work. Can anyone upload it to this current project? and I will delete it later.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<ht

[2017-08-21 08:19] tobbegutt commented on #1
https://drive.google.com/file/d/0By-yfItv_8JMRjRCd2RpRFduXzg/view?usp=drivesdk

[2017-08-21 08:22] willthrom commented on #1
@tobbegutt I meant to this github project, but thanks for the effort. I will get it by other way.

[2017-08-21 11:33] willthrom commented on #1
**Summary**, with a special KEY in shcard (mmc_device=/dev/mmcblk0p1), we can initialize the camera in different modes, one of them (1) will allow to run commands from Serial. (1-4, 0 is default)
With Mode different that 0 we can start a different script (sdcard folder/ft/ft_boot.sh.) at boot time.

**Key**
It is not in the current dump: /mnt/data/ft/prikey.pem (this folder is not mounted)
The dec

[2017-08-21 11:43] willthrom commented on #1
**Continuation**
Mode 3 will start wifi in different mode (TO CHECK):
` if [ "$ft_mode" = "3" ];then
        /mnt/data/ot_wifi_tool/wifi_start_ft_mode.sh  | /usr/bin/logger -t wifi &
    else
    	/mnt/data/ot_wifi_tool/wifi_start.sh  | /usr/bin/logger -t wifi &
    fi	`

[2017-08-21 13:06] snoerenberg commented on #1
Hi,

@willthrom here is the content of the data partition incl. privkey etc.
https://drive.google.com/file/d/0B9gWdg64NxjUdlVsUHdoTHNGb0U/view?usp=sharing

The ft_mode is already also somehow set in the U-Boot. I couldn't get IDA to correctly find all references.
"ft_mode:0" -> it's within every boot log and it's prior booting the linux kernel.

![contents](https://user-images.githubusercontent.co

[2017-08-21 13:14] snoerenberg commented on #1
@willthrom a file named "ft_config.ini" must be present on the SD card.
The content must correspond to this shit :)

[code]

I'll try to fiddle around to get something useful.

This part will be shitty afterwards:

[code]

[2017-08-21 13:59] willthrom commented on #1
@snoerenberg ft_mode is set by `cat /proc/ft_mode` so yes, U-Boot might be able to set it however it doesn't matter because the /etc/init.d/rcS will set it again based on not able to mount sdcard and decrypt the new config.

Yes

This is the "validation" of the information in the SDCARD has been signed by someone.

To be able to create a Tool (Hack) we need to generate the new secret.bin. Doesn't

[2017-08-21 14:40] snoerenberg commented on #1
@willthrom are you able to write a correct ft_config.ini I'm really not aware of awk. I know regen but not how it behaves together.

When I've some spare time I try to create a config and give it a try and see what's printed on UART.

I drilled 2 holes in the back cover and have there my cables for RX/TX and GND(soldered to the USB shielding)

[2017-08-21 15:40] willthrom commented on #1
@snoerenberg  ft_config.ini will not be an issue. I can create a script to generate it (at least for the ft_mode).

The problem is the encryption of the whole FT folder under the private key. I will take a look about that after work.

[2017-08-21 15:49] andreq commented on #1
My google-fu lead me to believe we can use Openssl to encrypt the MD5 of the folder.
`$ft_decrypt $sd_mountdir/ft/secret.bin $ft_running_dir/md5_org.sum $ft_securekey_file`
This only check if the MD5 match the decrypted one right?

p.s. Still waiting for my camera, I just want to help!

[2017-08-21 16:39] willthrom commented on #1
@andreq  we need to know first what that rsa_decrypt really does, but yep Openlssl could be a solution to encrypt back. Still I haven´t look what secret.bin has... maybe we don´t care. (I will look to this)

The good thing is we have the private key.

[2017-08-21 16:43] snoerenberg commented on #1
@willthrom can you paste a sample config line in here? The secret.bin I've not found anywhere.

[2017-08-21 16:48] willthrom commented on #1
@snoerenberg  the secret.bin is a file which should be in the sdcard.
@andreq  I am pretty sure this rsa_decrypt is from the OpenSSl.

I don´t have the camera but I will try to product a working key and a config.... (it will be a lot of guessing)

[2017-08-21 16:50] willthrom commented on #1
By the way.. we will need someone to record a new voices for the camera :P

data/sound is full of sound file in Chinese.

[2017-08-21 17:09] kollaesch commented on #1
Hi guys, in the meantimes I figured out the `awk`-lines:
@snoerenberg snoerenberg

1) ```'$1~/\[.*/{_cdr_par_=0}```: if the line directly begins with a `'[sTring ' then _cdr_par = 0`
'$1~/\[.*/{_cdr_par_=0} => example: `'[aBcD ' => _cdr_par_=0`

2) ```$0 ~ /^ *\[ *config *\]/ {_cdr_par_=1}\```
'$0' means the whole line => example: `'        [      config  ]     ' =>  _cdr_par_=1``

3) ```$0~/^[\01

[2017-08-21 17:20] willthrom commented on #1
**The flow when a SDCARD is detected:**

- In the SDCARD root a config file (ft_config.ini) needs to exist
- In that config file a parameter need to be set to P2P, SA or MTBF or something else (mapped to ft_mode 3,1,4 or 2) to able to start a custom script (more later)
- In the SDCARD a folder named ft needs to exist
- This folder could have a max size of 10MB and only one subfolder
- A MD5 factor

[2017-08-21 17:20] snoerenberg commented on #1
@willthrom from this
`sed -i '/secret.bin/d'`
I would expect it's somewhere on the cam.

Edit: ah no it creates this file :D

[2017-08-21 17:27] willthrom commented on #1
@snoerenberg
To be honest I am stuck there with the option /d. I don´t remember any regular expression with that modifiers.

The code:
md5sum $sd_mountdir/ft/* >  $ft_running_dir/md5.sum
sed -i '/secret.bin/d' $ft_running_dir/md5.sum

so the sed -i (or 'e in other linux implementation) means to run in interactive mode or direct mode over md5.sum.
I could guess it is trying to find/replace/ 'secret

[2017-08-21 17:27] kollaesch commented on #1
@willthrom

I read the file differently:
1) the folder must not have subfolders
2) the foldersize must not exceed 10 bytes

[2017-08-21 17:30] kollaesch commented on #1
@willthrom @snoerenberg

The regex `/secret.bin/d` (according to my O'Reilly sed-handbook) 'deletes `secret.bin`'

[2017-08-21 17:33] willthrom commented on #1
@kollaesch  Only one sub folder, and 10 MB... no bytes :)    (I wrote it wrong as well before)

dir_count=`find $sd_mountdir/ft -type d | wc -l`
dir_size=`du -m $sd_mountdir/ft | cut -f 0`

if [ $dir_count -gt 1 ];then
elif [ $dir_size -gt 10 ];then

[2017-08-21 17:38] snoerenberg commented on #1
Can we try to produce a working tf_config.ini at first.
Than we can go further with the secret. The script has nice output how to go on afterwards.

[2017-08-21 17:46] willthrom commented on #1
@kollaesch
`The regex /secret.bin/d (according to my O'Reilly sed-handbook) 'deletes secret.bin'`

Good..  I know what that this does.
`sed -i '/secret.bin/d' $ft_running_dir/md5.sum`

For the calculated md5 from the files in sdcard/ft, remove the entry secret.bin

This confirms the secret.bin files needs to be in the SDCARD.

@snoerenberg you only have to follow @kollaesch depicts of the aws :P.

[2017-08-21 17:48] andreq commented on #1
It make sens tho, you wouldn't be able to encrypt itself into the resulting encrypted secret.bin.

Keep going guys! We might have something before I get my camera :O

[2017-08-21 17:49] willthrom commented on #1
To generate the plain sdcard/ft/secret.bin just need to run:

 md5sum /toolsFolder/* > secret.bin.
 the content of sdcard/ft/ will be our new ToolsHACKFolder

[2017-08-21 17:59] willthrom commented on #1
@snoerenberg just try this. Generate the ft_config with the content

[code]

keep in mind the space between [ and config and the space between config and ]
and there is a TAB between the begin of the line and mode

[2017-08-21 18:02] snoerenberg commented on #1
@willthrom great job. Config file is ready. Tested on my linux docker container.

[code]

This looks promising as well:
https://github.com/XLILT/rsa/blob/master/rsa.cpp

[2017-08-21 18:03] kollaesch commented on #1
@snoerenberg @willthrom

If I am not mistaken ... try this instead ...

[code]
[code]
calculates the modes. If nothing matches => standard will be `2`

[2017-08-21 18:08] willthrom commented on #1
@kollaesch is right... I forgot what I said before:

I am creating the full ft folder.. in 10min... although I am trying to guess what type of encryption they are using (besides RSA)

[2017-08-21 18:22] willthrom commented on #1
@snoerenberg

Give this a try: https://expirebox.com/download/c206135f42917e263c3cdf0d28590a0c.html

It is a hack encrypted under the private key.

just decompress the content in a SDCARD, I guess partitioned as EXT2 (**edit** VFAT).

:You should see a message in the log like:

"Hack Enabled"

[2017-08-21 18:23] snoerenberg commented on #1
@willthrom I can test it tomorrow I'm not at home.
"mount -t vfat" > must be FAT32 or similar

[2017-08-21 19:03] willthrom commented on #1
@snoerenberg yes you are right, I was thinking in the other partion

fdisk /dev/mmcblk0 mkfs.vfat /dev/mmcblk0p1 2>&1   mkfs.vfat: format SD done.

The upload of my tools will expire in 48h...  FYI.

[2017-08-21 19:38] snoerenberg commented on #1
@willthrom I drove back and tried it.

[code]

But I formatted the card just with Windows onboard stuff and copied your files.

[2017-08-21 19:42] snoerenberg commented on #1
@willthrom can you share the RSA file generation? Have you checked upper and lowercase from "md5sum"?

[2017-08-21 19:42] willthrom commented on #1
@snoerenberg I didn't get that... what happened?

The initial ft_mode from the kernel will still be 0 but as soon as rcS starts, it should check if the SDCARD is mounted... and starting checking.

You mean, you copy extract the files into the sdcard in the root folder and nothing happened... right?

[2017-08-21 19:43] willthrom commented on #1
@snoerenberg by the way.. **rename ft_config to ft_config.ini**

I checked again the script and I missed that...

[2017-08-21 19:46] willthrom commented on #1
@snoerenberg  It is not the Md5 as you should see an error message :)

echo "md5 org is not found"

The other errors IF the ft_config.ini is accepted are:
[code]

[2017-08-21 19:47] snoerenberg commented on #1
@willthrom getting better :D ... I also missed the filename ... even I wrote it several times here ... hehe

but:

[code]

[2017-08-21 19:47] snoerenberg commented on #1
@willthrom I just predicted that the check will fail ;)

[2017-08-21 19:48] willthrom commented on #1
@snoerenberg GOOD, I know what it is failing now. Give a min

[2017-08-21 19:49] willthrom commented on #1
@snoerenberg  "decrypt success" where that is coming from?????

[2017-08-21 19:50] andreq commented on #1
Probably the output of their "custom" decrypt script.

[2017-08-21 19:51] willthrom commented on #1
@snoerenberg  you are right... I am quite tired already. But I think I know what it is wrong.

[2017-08-21 19:55] snoerenberg commented on #1
@willthrom "decrypt success" comes from "rsa_decrypt"

[code]

[2017-08-21 19:58] willthrom commented on #1
@snoerenberg try this https://expirebox.com/download/9a35a323e4586338a509be3de0e3b53b.html

I will document the generation of the hack meanwhile and then you will be able to  populate the script.

[2017-08-21 20:03] snoerenberg commented on #1
@willthrom
nextr try with Tools_0.2
[code]

[2017-08-21 20:16] willthrom commented on #1
Mmmm... I know why it is failing but the person show create that rcS did something weird:

The md5sum out is like:
44f3a2c23c0d78dcc90cb06169cede18  PATH/ft_boot.sh
8718c9ab4d1f06eeca1a2d26f2b6e7ed  PATH/secret.bin

The one you have I changed to:
44f3a2c23c0d78dcc90cb06169cede18  ft_boot.sh
8718c9ab4d1f06eeca1a2d26f2b6e7ed  secret.bin
because I was expecting to read from ft. But no.....

I have to

[2017-08-21 20:20] snoerenberg commented on #1
@willthrom yes you are right.

I tested it here as well ... path is present.
44f3a2c23c0d78dcc90cb06169cede18  config/ft_boot.sh

From S96rename_firmware I can see it's "mmcblk0p1"

[code]

[2017-08-21 20:22] willthrom commented on #1
I will change it to /tmp/sd  as

sd_mountdir=/tmp/sd
mount -t vfat $mmc_device $sd_mountdir

[2017-08-21 20:24] snoerenberg commented on #1
Good hint.

[2017-08-21 20:26] willthrom commented on #1
https://expirebox.com/download/30a0ac62770dfc8326f5f025d405e569.html

[2017-08-21 20:36] snoerenberg commented on #1
@willthrom SUCCESS!!! Thanks for your work and support 👍

Rename the "tf-config" to "tc-config.ini" ;)
With "ft_mode=1" we should get a root shell with "/bin/sh < /dev/ttyS0 2>&1 > /dev/ttyS0"

[code]

[2017-08-21 20:45] snoerenberg commented on #1
@willthrom first script could be:

`/bin/sh < /dev/ttyS0 2>&1 > /dev/ttyS0` or?

[2017-08-21 20:45] willthrom commented on #1
Nice!...  I am going to create another image before going die on the bed which will allow to customize without having to generate the secure.bin again. So no more need of MD5 of Encryption.

[2017-08-21 20:47] willthrom commented on #1
that is Mode 1 but it doesn´t initialize the WIFI or anything related to the camara.. I think that is for hard developer to send commands directly to the Linux subsystem from the Serial Connection.

Do you really think you need that?

I was thinking to provide you with a path-script what will be loaded at runtime and you can customize at will and no need to use the encryption again. (always use th

[2017-08-21 20:48] snoerenberg commented on #1
@willthrom yes easier to use and everyone can create his/her own scripts.

[2017-08-21 20:50] snoerenberg commented on #1
Mode=1 or Mode=3 with "/bin/sh < /dev/ttyS0 2>&1 > /dev/ttyS0" is interesting to just start e.g. "rtspd" and see what happens. Compile stuff directly on the cam etc.

[2017-08-21 21:18] willthrom commented on #1
OK, sure.. if you have all the tool necessary to compile there (although you can mount the shcard and load whatever else....).

[2017-08-21 21:35] willthrom commented on #1
@snoerenberg  Could you give a try to https://expirebox.com/download/40475f189f65f6028eae4b3602367b8c.html ?

You will know what to do if it works... :)

[2017-08-21 21:48] willthrom commented on #1
I did again the mistake of not ending ft_config with .ini

Here it goes: https://expirebox.com/download/366ddfc47ff6f4e18d8686ecf29da552.html

[2017-08-21 21:58] kollaesch commented on #1
[code]
Basically: add `fi` in line 11 and create a new package. 👍

How do you "sign" them?

[2017-08-22 07:01] willthrom commented on #1
@kollaesch  Thanks for the testing..

How fully this one will be the last one...

https://expirebox.com/download/3bd92a97c0002557f30ba9fea11333ea.html

[2017-08-22 07:25] willthrom commented on #1
@kollaesch  yep, I didn't have time to test it (it was quite late)

The sign process is basically calling md5sum and openssl and I will document it properly when the script work in case Xiaomi change the Key. However, when this script works you will not need to sign it every single time the custom tool is modified.

Basically I split it in two steps, so the first step is the one signed, and second

[2017-08-22 07:42] willthrom commented on #1
https://expirebox.com/download/e0570daf1beaaf874bcbc06d92a6657c.html

Give it a go please

[2017-08-22 14:17] snoerenberg commented on #1
@willthrom works! I've a root shell after custom valhalla.sh 👍

[2017-08-22 14:24] andreq commented on #1
`valhalla.sh`  hahaha nice naming XD

[2017-08-22 14:32] kollaesch commented on #1
I think a ssh-server would be nice! (copy and start, if not exists..)

[2017-08-22 15:49] willthrom commented on #1
@snoerenberg @andreq  :)

Now you can customize as wish that script to do whatever you want.

When I will be back home I will document that to make if officially but I am sure you can work with that and add the required tools for streaming and Disable cloud, then add Web and all that.
The good thing the camera is coming with busybox although I haven't checked how much space is left in camera.

Hav

[2017-08-22 17:14] willthrom commented on #1
I have documented the whole process and create the structure we could keep for the whole modding (hack).

Take a look and contribute :)

It is under the new folder sdcard with all the necessary files and the tool folder waiting to be populated with all the binary/scripts etc.

[2017-08-22 17:18] drchris10 commented on #1
Willthrom - damn good work mate!
You reckon we can get rtsp running on this xiaomi bad boys?

[2017-08-22 17:34] itanczos commented on #1
@willthrom @kollaesch @snoerenberg Great work! 👍
(Sorry if I miss someone!)

[2017-08-22 18:05] Filipowicz251 commented on #1
kudos for you all guys!

[2017-08-22 19:06] simwe commented on #1
Nice. Im a noob, but I get the "shell" by entering the "/bin/sh < /dev/ttyS0 2>&1 > /dev/ttyS0", but it terminates the rest of the bootup scripts, it seems.

running the wifi_start.sh script under /mnt/data/ot_wifi_tool gets me wifi, but it would be nice if you could initialize everything first and then init the prompt/shell.

I haven't found any rtsp program yet. And running netstat -t gets me th

[2017-08-22 19:14] simwe commented on #1
nevermind, running vg_boot as it is ran in the s50gm script seems to run the script. Duh....
/gm/config/vg_boot.sh /gm/config

[2017-08-22 19:17] willthrom commented on #1
@simwe the valhalla.sh script (I know it too cool) it is run by the S50gm script, but doesn´t stop you to use valhalla.sh to add a new entry in /etc/init.d, like S99XMyCustom Init.

In any case, if you change the ft_config.ini to SA the boot init process will only do this:
[code]

Giving you a console. In this case, valhalla.sh will not be called though.

As I don´t have the camera yet I don´t kno

[2017-08-22 19:37] simwe commented on #1
@willthrom Yes, / is mounted on a readonly squashfs, so cannot edit anything.

found a possible solution here: https://forum.chumby.com/viewtopic.php?id=4903

 #!/bin/sh
 mount --bind /mnt/usb/inittab /etc/inittab
 kill -HUP 1

but not sure how i would be able to write to squashfs with that trick since im a noob.

Thanks for the help anyway!

[2017-08-22 19:47] willthrom commented on #1
@simwe

Well. you could just add in valhalla.sh the call "kill -HUP 1" and see what happens.
That command kill the process ID 1, which is inittab :)

So after that no more Init. That would leave you where you want (meaning, skipping all the other Inits scripts).

Of course valhalla.sh will have to start the process it needs, like WIFI or the sshd and/or rspd, web, etc.

[2017-08-22 19:59] kollaesch commented on #1
The only problem is see right now is that after the usual 19s (and the S99restartd-script) the cam does not click anymore. Usually the yellow LED then switches to blue and the cam can get accessed by the MiApp.
I guess the `ft_mode` gets checked during boot and the initscript does not start all scripts as standard.
Ideas? I'm browsing files right now.

[2017-08-22 20:04] willthrom commented on #1
@kollaesch  I would go with leaving ft_mode to 3, then stopping inittab, and then starting the script manually or re-running the script changing the ft_mode to 0 (which is the normal flow)

I haven´t analysed all the init scripts but for example, in S50gm, the script calling ft_boot.sh and this one valhalla.sh is for mode != 0.... not calling:

sh ${CONFIG_PARTITION}/vg_boot.sh ${CONFIG_PARTITION}

[2017-08-22 20:45] snoerenberg commented on #1
@willthrom maybe therefore the rtspd does not want to start. Will try this tomorrow.

[2017-08-22 20:47] kollaesch commented on #1
~~*my tipp for a normal boot*~~~
strike that - a have to review that again

[code]

I then could connect to the cam via MiApp.  *But watch it!* The device get very warm/hot during video processing. I couldn't get it to start again. (needed to wait for cooldown)
Best is to assemble the heatsinks again. (=> tomorrow)

Also, I just could stream the videos, but couldn't use the talking button ("camera

[2017-08-22 21:05] willthrom commented on #1
Mode 4 is for extra logging to a file, you could try that.

Regarding to the init, careful as you are starting again some init scripts, you might want to stop them first.

Why the kennel is loading the Bluetooth? Is there a special connection with the device?

[2017-08-22 21:33] kollaesch commented on #1
I guess the bluetooth is just to enable the pairing by bluetooth if the qr-code-scan-pairing is not working. I tested everything until the led turned blue, so that's why ;)

[2017-08-22 21:49] willthrom commented on #1
I haven't heard of any volunteer to record new voice audio... I don't want to hear the Chinese women in my camera... :P

[2017-08-22 21:57] kollaesch commented on #1
@willthrom Futurama / Simpsons-samples?

[2017-08-22 22:41] andreq commented on #1
@willthrom https://github.com/fritz-smh/yi-hack/tree/master/sd/test/voice  any of that would work?

Edit : They're BigEdian 2 bit ADPCM audio stream btw... (took me some trial and error trying to play those)

[2017-08-23 07:12] willthrom commented on #1
@andreq @kollaesch I guess both will work, actually we could have both in the repository, and the ability to change them as wish. sdcard/tools/media/voices/*

@andreq  I will take a look to those files but it is whatever you all like :)

[2017-08-23 08:20] willthrom commented on #1
Btw, wasn't @samtap around int this issue? It seems he disappeared :P

[2017-08-23 08:45] willthrom commented on #1
Finally: "DELIVERY ESTIMATE Today"

[2017-08-23 19:29] snoerenberg commented on #1
Can someone try to update to newest FW with ft_mode=3/P2P ... the firmware URL should hopefully be printed to UART because the logging is lowered with this mode.

It's within the miio_ota binary.
I updated my cam already and it would be interesting how a complete image look like (not dumped from SPI).

Thanks

[2017-08-23 20:35] kollaesch commented on #1
@snoerenberg I can do this tomorrow. (girlfriend evening today)

[2017-08-23 20:56] willthrom commented on #1
@snoerenberg  I am seeing that Level 4 will redirect all the output to a log file. You can try that as well

elif [ "$config_mode" == "MTBF" ];then
      ft_mode="4"

Although I don´t get why this code is in the Logging Init (I know what it does but why....)
[code]

**Keep in mind Level 3 disable the kernel login** although we might not care about this.
[code]
printk — This file controls a variety

[2017-08-24 18:03] samtap commented on #1
@willthrom I'm following the progress (great stuff!) but I don't own one of these cams yet.

[2017-08-24 19:10] willthrom commented on #1
The camera arrived!!.. But my Chinese is a little rusty. "Compelinchin......"

[2017-08-24 20:42] willthrom commented on #1
Hey guys in Europe. What server are you using as MiHome?

I tried with US but after following the process I always get time-out from MiHome.
The Camera ends with the led in blue so I guess it is connected to the WIFI.

I will check in the router though.

[2017-08-24 20:49] snoerenberg commented on #1
Hi, I use the chinese one ... I'm used to it due to the XiaoFang cam I own as well. I wanted to switch to the US one later on as well.

[2017-08-24 21:27] willthrom commented on #1
I am finally able to connect to the Chinese, no Hong Kong.
I hope after disable the cloud this will stop to be a pain, because it is not very fast this server. I see lag, which shouldn´t happen when both devices are in the same network... I cannot believe the information goes to the cloud and come back to the mobile.... that would be very stupid..

[2017-08-27 10:12] itanczos commented on #1
@willthrom That's how it works! I examined the communication of the Yeelight bulbs.

[2017-08-27 10:35] tngebauer commented on #1
Hey guys, nice how far you already got!
I got my hands on the 720p 360° Mijia and took it apart(can share pictures of the PCB if wanted).
It's running a Grain-GM8135S. According to the grain-media website, it's the same chip that the 1080p (no 360°) has, just with a smaller memory interface. So as far as I understand, it could be possible that the same hack runs on it(with some smaller changes) to

[2017-08-27 11:13] snoerenberg commented on #1
@Vaypron give it a try. You can also just create a new file on SDCard with valhalla.sh.

A picture of PCB is useful.

[2017-08-27 11:18] snoerenberg commented on #1
Anyone success with capturing FW binary?

[2017-08-27 12:52] tngebauer commented on #1
@snoerenberg, I just created a pull request with images of the front- and backside. I have already reassembled it, because it's currently in use. Does the root shell already contains software like ping? So that I can just insert the SD-Card and check for the ping packages with Wireshark? Don't really want do disassemble it again, especially because of the confusion coming with multiple TX/RX-pins(

[2017-08-27 13:13] andreq commented on #1
@vaypron we're using Tx0 and Rx0. It's quite nice they kept the whole silkscreen with pins and what not. Should be easier to recover if we need to find a specific input.

[2017-08-27 14:45] itanczos commented on #1
@snoerenberg No new firmware available. In the meantime, I can not hunt for a link.

[2017-08-27 15:56] snoerenberg commented on #1
I'm on vacation right now.

Interesting next steps:
- dropbear and sftp
- rtspd from SDK with prior camera initialization (gm config)

@willthrom can you share the secret.bin generation? Otherwise I need to invest time there as well. Thanks

You can also create a pull request to make the binaries for the SDCard available on GitHub.

[2017-08-27 18:28] willthrom commented on #1
@snoerenberg

Everything has been documented under the SDCARD folder in github. The SDCARD structure is there. You don't need to generate a new secret.bin as I explained before as you don't need to change ft_boot.sh anymore. Just change valhalla.sh.  let me know if you have any question...

All the binaries are under the SDCARD folder

[2017-08-27 18:35] snoerenberg commented on #1
@willthrom sorry I missed that ... thanks

[2017-08-28 19:36] kollaesch commented on #1
The current Xiaomi-firmware-download can be downloaded [here](https://cdn.fds-ssl.api.xiaomi.com/miio_fw/0870c0254e9cd40a5e4cac2265c46e87_upd_mijia.camera.v1.bin?GalaxyAccessKeyId=5721718224520&Expires=1511724650000&Signature=cRc1HZhPj5DABJGaZxw2FoeEMHo=&uniqRequestId=97167719)

It might fail, since there is an 'expires'-variable in the URL.
If so, I can provide the firmware separately.

[2017-08-28 19:42] snoerenberg commented on #1
@kollaesch great. Thank you. Downloaded.

How could you fetch the URL? Through the logging from miio_ota?

[2017-08-28 19:49] kollaesch commented on #1
I finally got the 'standard'-boot running. Enabled the verbose logging with
[code]
and the tailed the log with `tail -f /var/log/messages`

I can share the detailed logs later. (I would upload them with a merge-request)

[2017-08-28 20:10] kollaesch commented on #1
We should work on cross-compiling 'sshd', ...
The we could do:
```mount -o bind /mnt/media/mmcblk0p1/opt /opt/```
and add this to `PATH`

Who's experienced in cross-compiling? (for 'Processor: FA6 rev 3 (**v5l**)')

[2017-08-28 22:11] itanczos commented on #1
Is SDK available from a public place (not badu)?

[2017-08-28 22:13] itanczos commented on #1
On the embedded platform, dropbear is the preferred ssh server.

[2017-08-29 04:49] snoerenberg commented on #1
@itanczos I only found the SDK on Baidu.

[2017-08-29 13:50] sendorm commented on #1
Can the unbrick firmware be of any use?

Here is the [link](http://en.miui.com/thread-525318-1-1.html) from official page.

[2017-08-29 14:12] snoerenberg commented on #1
@sendorm nice ... never found this during my search. This would have been easier than dumping this. Can surely be used once the cam is fucked up. And is an earlier version where the hack is possible.

[2017-08-29 14:12] snoerenberg commented on #1
Can you upload the image to zippyshare or similar?

[2017-08-29 16:01] sendorm commented on #1
@snoerenberg Ok. Here is the link to the unbrick firmware at [zippyshare](http://www19.zippyshare.com/v/BmjL3z7c/file.html).

[2017-08-29 16:49] snoerenberg commented on #1
@sendorm thanks a lot. Looks similar to the firmware @kollaesch captured. I will have a look into it the next days.

[2017-08-31 09:22] willthrom commented on #1
@kollaesch

you can try with editting config.ini  from P2P to MTBF

you will get the log saved in sdcard and not disabling Kernel Log.. which mostly we don´t need (printk)

I am out of town but when I am back I will try to start compiling against this platform.....

[2017-09-01 14:10] sendorm commented on #1
There has been a new firmware update. It's version: 3.3.9_0137

[2017-09-01 21:56] kollaesch commented on #1
Hi there - I just opened my HEOS 1 box and found a pinrow (3.3v,R,T,GND)
I so got access to the u-boot by pressing reset the right time.

What bootarguments should I set to get a root-console?
(adding 'single' doesn't work)

I'll delete this comment later.

[2017-09-06 02:32] andreq commented on #1
Finally got my camera. Haven't tried any script yet tho. I need to figure out how to use a "virgin" one first since I got 2 for someone else who won't be running custom script anytime soon.

Have you guys been able to use the "real" USA server? I can't seem to pair the device if I login on the USA server. I have to switch to "The US (Singapore)" server to see the camera. Tried multiple reset with

[2017-09-06 06:26] AshPowell commented on #1
USA server didn't work for me either. Connection timeout. Ended up using china

[2017-09-10 00:30] djchen commented on #1
Ditto above, except I'm using the Hong Kong server.

[2017-09-10 00:56] tobbegutt commented on #1
How are the progress coming along? I don't really understand what you all have done. Are there any news regarding to get the stream out to a client that uses ipcam or rtsp etc? Like Ispy connect?

[2017-09-10 06:24] kollaesch commented on #1
@tobbegutt
We can run our code during the boot-up. The code has to be on the sdcard.
For sharing the video-stream we have to compile a program that does that. (on a other computer => cross-compile)
That's where we are at, right now.
RTSP is not available yet.

@all / @Filipowicz251
Should we split the issues down?
Actually, the first issue can be considered as closed.
1. create hack (via SD-card-b

[2017-09-10 19:12] willthrom commented on #1
Can someone upload the SDK to a non-Chinese cloud service?
For some reason it is detecting it is too big to direct download.

https://yun.baidu.com/share/link?uk=2553453276&shareid=482055465

Thanks

[2017-09-11 09:45] kollaesch opened #4 "[TASK] SSH support"
**Goal:** provide optional ssh-access (by dropbear) so that UART-access is not required any more
in reference to #1

Support for cross-compiling required.
thanks.

[2017-09-11 09:51] kollaesch opened #5 "[TASK] RTSP support"
in reference to open items mentioned in #1

1. choose a suitable rtsp-server from the known [implementations](http://www.cs.columbia.edu/~hgs/rtsp/implementations.html)
We have to figure out how the data is streamed right now. Would be a waste of ressources to do a double-capture.
Also interesting would be [dss](https://macosforge.github.io/dss/) and [v4l2rtspserver](https://github.com/mpromonet/v

[2017-09-11 10:21] willthrom commented on #4
I will work on this this evening as soon as someone upload the SDK to other cloud service

[2017-09-11 10:22] willthrom commented on #1
Happy to close this issue but we need the SDK in a public place first.

[2017-09-11 10:22] willthrom commented on #5
Did you take a look how was done in other Xiaomi cameras hack? I was to take a look when I get my hands in the SDK...

[2017-09-11 14:01] kollaesch commented on #1
I see what I can do.
Recommendations for a suitable cloudservice?

[2017-09-11 14:04] itanczos commented on #1
@kollaesch https://mega.nz
Dropbox, google drive.

[2017-09-11 15:41] willthrom commented on #1
Any with public-access. (or with a Password for this project)

[2017-09-11 16:38] papplampe1 commented on #1
Downloading right now and then uploading to MEGA. Hold on!

**edit: after reaching 100% at mega it said upload failed. uploading to Dropbox now. Sorry!**

[2017-09-11 16:42] willthrom commented on #1
@papplampe1 Thanks. I will close this ticket after that and start with SSH server support

[2017-09-11 16:44] itanczos commented on #1
@papplampe1 Thanks! I'm also interested.

[2017-09-11 17:01] willthrom commented on #1
by the way... has someone tested the initial hack with the latest firmware? I haven´t connected mine to the  UART but it seems to not working... They might have changed the key. (or I made a mistake in my own script)

[2017-09-11 17:19] papplampe1 commented on #1
Download GM8136 SDK release v1.0 (RAR-file, 397 MB):

at [Dropbox](https://www.dropbox.com/s/hnh8cydk4m2ab08/GM8136%20SDK%20release%20v1.0.rar?dl=0)
at [Mega.co.nz](https://mega.nz/#!Ml9mhQwJ!h4WUydoOc7gGpUSkNCYpzd9uAOyUloHHMvikItL2FS8)
at [Google Drive](https://drive.google.com/file/d/0B_6noWZ_IGc5WGdBbDNaSWMzM0U/view?usp=sharing)
at [Google Drive](https://drive.google.com/file/d/0B40VEajjRUcHTmN

[2017-09-11 17:27] AshPowell commented on #1
Just a backup should anything happen to original
https://drive.google.com/open?id=0B82eXdLuwhLJRS1wT0FWWUZ6aGM

[2017-09-11 18:10] papplampe1 commented on #1
@willthrom
sorry, can you please show what comment represents the initial hack, then i will try it. my cam shows firmware 3.3.9_0129 and it says that's the latest. I am on profile setting "United States (Singapore Server)" and my actual location is Germany.

[2017-09-11 18:14] kollaesch commented on #1
@papplampe1 welcome ;)
I'm in Germany as well. Setup China Mainland and it will run.

[2017-09-11 18:35] willthrom commented on #1
@papplampe1 in the source of this project you will find a sdcard folder

Take a look to the readme and then let me know if you have any question.

@kollaesch  Did you try the original hack? my uart-usb conversor is not working and I cannot debug it through the UART.

[2017-09-11 18:52] willthrom commented on #1
FYI... WSL (Windows 10 Bash) doesn´t support 32Bit application so the SDK of this camera cannot be used there...

[2017-09-11 19:08] andreq commented on #1
Last time I worked on an embeded device I had a Virtual Box running Ubuntu. It make it way easier even tho it might slow down the compile time a little.

[2017-09-11 19:10] willthrom commented on #1
@andreq  yep.. I am with VB now to compile the sshd for this camera.  WSL is quite useful though for 64bits..

[2017-09-11 19:12] andreq commented on #1
TIL https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux

Looks nice for some other stuff I'm fiddling with! Thanks.

[2017-09-11 20:28] willthrom commented on #1
I am going to close this issue. Just start creating new ones with any problem or TASK (Use the prefix [TASK] for it).

[2017-09-11 20:28] #1 closed

[2017-09-11 21:37] kollaesch commented on #4
I tinkered for some time to setup the cross-build-env. First one didn't work.
I'm playing with crosstool-NG right now.

[2017-09-11 21:41] willthrom commented on #4
Mmm.. the crosscompiler is usully call toolchain and it is part of the SDK.  You don't need to use other compiler like NG.

Let me know if you cannot make it work....

[2017-09-12 02:12] m1yuan commented on #4
I uploaded a copy of SDK to GDrive.
https://drive.google.com/file/d/0B40VEajjRUcHTmNuN2N0R3dWaUk/view?usp=sharing

[2017-09-12 02:27] wzpyh commented on #5
the official site has released a new firmware using u-boot img file to upgrade the firmware ,not sure if this info will help the hack of this camera,

it is actually using a file named tf_recovery.img and I have uploaded the file here (downloaded from Official Site and uploaded)

https://ufile.io/t1e1t

[2017-09-12 07:10] willthrom commented on #5
@wzpyh could you include the source of the file? Thanks

[2017-09-12 09:06] snoerenberg opened #6 "New tf_recovery.img and surely the newest FW remove hack possibilty"
Hi,

UPDATE: the "new recovery image" was not for original mijia 1080p ... some other camera.

the new recovery image does not contain the "prikey.pem" any longer.

old image: [http://www19.zippyshare.com/v/BmjL3z7c/file.html](http://www19.zippyshare.com/v/BmjL3z7c/file.html)
new image: [https://uploadfiles.io/t1e1t](https://uploadfiles.io/t1e1t)

can be easily extracted both with binwalk.

[2017-09-12 09:22] willthrom commented on #6
@snoerenberg what firmware version?

[2017-09-12 09:24] willthrom commented on #6
From where did you get the new and the old recovery image?

[2017-09-12 14:51] andreq commented on #5
@willthrom I'd say from here : http://en.miui.com/thread-525318-1-1.html

Edit : Or the Chinese original forum linked in the thread : http://bbs.xiaomi.cn/t-13385327

[2017-09-12 15:42] willthrom commented on #5
But that is from February.... so I am asking if there is any other place with the latest firmware....

[2017-09-12 16:53] papplampe1 commented on #5
Is there a way to get information where the camera or the mihome-app gathers the firmware file when attempting an update of the camera firmware?

[2017-09-12 17:04] andreq commented on #5
My bad, I didn't realize the post was that old considering people are still asking for help up to August in the last pages :|. We need an insider from Mainland to help us find all those files!

[2017-09-12 17:14] willthrom commented on #5
@papplampe1
analyzing the network.. but pretty sure it is from ot.io.mi.com or ott.io.mi.com

[2017-09-12 17:20] willthrom commented on #6
@snoerenberg

The old image is signed as:

[code]

Seems to be from August... but that is not the latest, I think that is a weird version.

I have mine camera updated and the Hack is still working....

[2017-09-12 19:18] snoerenberg commented on #6
@willthrom good to know thats still working for you. I have not checked mine yet.
I'll create a dump as well and compare.

Here is the old and new recovery image extracted:
http://www43.zippyshare.com/v/NgfFX5ry/file.html

They changed a lot ... if this is really the tf_recovery.img for the original Mijia ...:

[code]
[code]

<img width="294" alt="new_img" src="https://user-images.githubuserconten

[2017-09-12 19:30] snoerenberg commented on #6
@willthrom the new image was somewhere referenced in the old thread.
It seems that the "new recovery image" belongs to another cam ...

[2017-09-12 19:32] #6 closed

[2017-09-12 19:33] willthrom commented on #6
I have the latest version: 3.3.9_0137 and the OS file is:

[code]

So yep.. I guess that is Firmware for another Camera... but it is not what my camera has after upgrading.

[2017-09-12 19:41] snoerenberg commented on #5
@wzpyh where got you the new "tf_recovery.img"? It's not intended to use it with the Mijia 1080p.

[2017-09-12 19:44] kollaesch commented on #4
@mwenyuan thanks. I downloaded it.
@willthrom I will also switch to the provided toolchain. But first I have to get familiar with it.

[2017-09-12 20:04] willthrom commented on #4
I compiled a test Program but still trying to make it work in the Camera.
After that I will compile a SSH daemon.

[2017-09-12 20:06] andreq commented on #5
If the camera buffer is "pure" H264, we might want to consider GStreamer framework to have a mp4 or webm stream over HTTP (or RTSP over http maybe?). Anyway I'll probably look into this myself when RTSP is up and running as it's specific for my needs :)

[2017-09-12 20:24] kollaesch commented on #4
@willthrom How did you set it up? (according to "GM8136_Linux_User_Guide_V1.0.pdf" / page 13 ?)
I'm too tired ...

[2017-09-12 22:26] willthrom commented on #4
@kollaesch  after 8 hours in front of a computer at work... + another 3 reading logs/firmwares and scripts. I can say I am tired.

Yes Page 13, take a look to the example sw_dbg.

By the way, I compiled my first TestProgram for this camera and it works, but if I tell you straight away.. I will deprive you from all the fun :)

[2017-09-13 00:21] wzpyh commented on #5
@snoerenberg sorry ,yep ,this can only be used for 720p I think , this file is released on AUG in Chinese forum. As I dont have any experience with u-boot file , I think there may be a way to extract files from u-boot?

[2017-09-13 03:55] snoerenberg commented on #5
@wzpyh look at my closed thread. There are all files unpacked. You can also use just binwalk -e on the recovery file.

Within my extract you can also find a way to get root on the system I think. There is some secret string Blabla which must be present on the cam.

[2017-09-13 07:33] brtwrs commented on #5
Hi everyone, Im trying to get an RTSP server running on the 720p version as well. For now I have telnet acces to the running cam, read trough all the scripts and logs and decompiled some of the binairys. But im stuck now. @willthrom from the decompiled binairys I can confirm it trys to connect to ot.io.mi.com or ott.io.mi.com.

[2017-09-13 08:07] willthrom commented on #5
@brtwrs the URL can be seem in the logs, in the mi client log.  (easier that the binaries).
Regarding to the 720p, careful with whatever is produced in this project, because it might not be compatible at all. (The toolchange could use a different link library). Have you check the CPU?
you can check the linking library using the Unix command "file'

[2017-09-13 09:25] brtwrs commented on #5
Thanks for your reply. I got it working! Couldn't find the SDK for the 720p version so I tried the SDK from the readme, compiled the rtspd from there, copied it to the sdcard en was able to run it. I now have a working rtsp stream:) Now I only need to control the tilt/pan. Any ideas?

[2017-09-13 09:56] willthrom commented on #5
@brtwrs  that means the CPU is compatible with the SDK however you need to take a look to the instructions (API) and check if there is any function to control the motors. After that you can create a small program to operate it remotely.

Is your streaming at the same time as Xiaomi?
Could you provide the makefile you used it? and from where did you download the source code of the rspd? from the SD

[2017-09-13 10:08] willthrom commented on #5
I was thinking https://github.com/GStreamer/gst-rtsp-server but they state it is not mean to be used with public connection because the lack of security audit.

[2017-09-13 10:25] brtwrs commented on #5
Yes it can stream at the same time but I noticed allot of frame errors and the stream was very slow. So I killed the miio_avstreamer proces and the rtsp stream way better but the xiaomi stream stopped working obviously (I dont use it).
I used the code and makefile from de SDK (GM8136 SDK release v1.0/Software/Embedded_Linux/source/gm_graph/product/GM8136_1MP/samples) I did changed the make file a

[2017-09-13 10:35] willthrom commented on #5
You can remove all the dependencies with gm (that is the API).. although you will need them for the motors. If you have strace in the camera you can check what call MIUI does to library to manage the motors :).

I didn't link statically uclib because it might changed between version (firmware upgrade) and require to recompile. What RTSP are you using? GM8136_1MP has a 4MP version and so on.

[2017-09-13 10:46] willthrom commented on #5
@brtwrs  By the way... in that 720p camera.. how did you get access to it? I haven't seem the firmware to that camera so I don't know if you had to use the same "way" with the signing and valhalla.sh or you had telnet by default.

[2017-09-13 10:51] brtwrs commented on #5
So you're saying gm also had the motor drivers somewhere?
First I tried to compile it without the static parameter, but wasnt able to run the rtspd without it. I use the GM8136_1MP because 720p is 1MP. For the 1080p version you need the 2MP one I think.
I took it apart and found the RX and TX pins. First I only got the Uboot output and nothing more. After a good look at the uboot env variables I f

[2017-09-13 11:04] willthrom commented on #5
Thanks, that is what I thought.  The 1080 doesn't have telnet installed.
So you changed the startup script and saved it? Is that init script in the JFFS2 partition? Did you modify it directly there?
In the 1080 the Init scripts are in the Squashfs so we cannot change them.

The signing is to allow users without soldering skills to install the tools produced in this and other Camera Modding Project

[2017-09-13 11:17] brtwrs commented on #5
on the 720p version a bunch of startup script and files are stored on a mounted partition:
/dev/mtdblock3            2.9M      1.2M      1.7M  41% /mnt/data
Looks like some flash somewhere on the board. This part of the file system is writable and keeps intact after a reboot.
A sd-card only solution would be perfect indeed.

[2017-09-13 11:21] willthrom commented on #5
@brtwrs  run the command "mount" so you can tell what kind of partition is /mnt/data (but I am 99.9999% sure it is JFFS2).

What you can do to jump to sd-card is to copy /dev/mtdblock3 to /sdcard and then mount /sdcard in /mnt/data :)
I would do that in an init script.. whatever is been used in your camera (if any).

[2017-09-13 18:44] kollaesch commented on #4
@willthrom to kind of you ;)
I ruined my Archlinux somehow with the toolchain yesterday. Apparently the upgraded packages were compile with the cross compiler.
I have to fix that first.

[2017-09-13 20:45] willthrom commented on #4
@kollaesch  Did you export the compiler?? hahahaha (sorry :P)

I have the dropbeer compiled and running, but some problems logging in.

[2017-09-14 14:39] willthrom commented on #2
Closing because noone is working on it and it is not trivial to play with the flash memory.
Re-open if required (providing support to resolve it)

[2017-09-14 14:39] #2 closed

[2017-09-14 15:01] andreq commented on #2
Did you try that "old" recovery image from Xiaomi forum? Could it just boot up (somehow?) and recover u-boot? You might be the only one with a bricked camera tho.

[2017-09-14 15:03] snoerenberg commented on #2
@andreq the cam have not booted after NSBoot at all. No U-Boot boot was possible (afaik).

[2017-09-14 15:41] willthrom commented on #2
@andreq  I created this issue for another person who mesh with the partition and broke something. Without too much experience the only solution I see is to flash the system directly to the chip. But it is up to that user to play with it.

[2017-09-14 15:48] andreq commented on #2
@willthrom yeah, forgot if it was you or @snoerenberg who had a bricked camera.

[2017-09-14 15:50] willthrom commented on #2
none of us actually, was someone else

[2017-09-14 15:53] andreq commented on #2
I'll go hide in a cave and try to wake up a bit more! Sorry for the spam

[2017-09-14 16:00] willthrom commented on #2
no worries. this is a closed issue anyway.

[2017-09-14 21:32] willthrom commented on #4
Done. I will upload a release soon

[2017-09-14 21:32] #4 closed

[2017-09-15 05:39] kollaesch commented on #4
I didn't get the compiler running. (`./arm-unknown-linux-uclibcgnueabi-gcc -v`)
Brought me `'file not found'`.  Same with the absolute path.

Ideas? (costed me some sleep :/ )

[2017-09-15 06:47] willthrom commented on #4
@kollaesch

- In what platform are you trying to compile?
- Did you untar the toolchain in Linux?
- did you check the permission of all the files?
- Did you add the PATH of the /usr/src/linuxarm.../toolchain.../../bin to your environment path?

[2017-09-15 10:03] kollaesch commented on #4
* [x] **1,2)** 'Archlinux x86_64', yes

* [x] **3)** yes - looked good.
[code]

* [x] **4)** yes (`export PATH=$PATH:/usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/arm-linux/bin`)

[code]

Same result when called with absolute path. Strange.

What's up with the `makedev` ??

[2017-09-15 10:15] willthrom commented on #4
@kollaesch First... the toolchain is 32 bits, so you might have to install the 32 bit compatible package.
Then, my /usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/arm-linux/bin look quite different... did you change the name of the binaries?

usually it is better to keep the original ones so the system doesn't get confuse (I guess that is why you broke your system before).

By the way..

[2017-09-15 10:26] kollaesch commented on #4
@willthrom
Thanks! first: /usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/**arm-linux**/bin
the arm-part was important.

In the meantime I installed it on a second pc. Same error first. Then with *arm-linux* it works there.

And no, I didn't change anything. I extracted the tars. The documentation is partially wrong there.
(page 13) First they mention `uclibc_gnueabi-4.4.0_ARMv5TE.tgz`

[2017-09-15 10:30] snoerenberg commented on #4
Hi, maybe you can create a docker image once it works and you know how :)

[2017-09-15 11:00] willthrom commented on #4
@kollaesch toolchain* is fine.. you need to extract it under /usr/src/arm-linux (the same folder as the documentation states).

In any case, you said it is working now.... so good, right?

@snoerenberg we definitely could create a docker image to compile packages, not more VM, but I guess it is a low priority of this project.

[2017-09-15 11:07] kollaesch commented on #4
@willthrom
Unfortunately it's not working: even with your `export PATH=/usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/arm-linux/bin:$PATH` it still grabs the gcc of the system (7.2.0)

... driving me nuts. Isn't that complicated ...

[code]

both bring `file or directory not found`
[code]

I agree, having a docker-image would definitely be a good thing for future purposes.

[2017-09-15 11:28] willthrom commented on #4
My toolchain folder looks very different to the one you have. I cannot posted because I am at work.

the file name are much longer (like  arm-linux-unknown-aclliasdasd-gcc)

just run in that folder "file gcc" and see what it returns... but I would say you don't have the same toolchain I used to compile the SSH Server and busybox.

[2017-09-15 13:18] kollaesch commented on #4
This is my suspicion also. I downloaded the SDK from Googledrive (mwenyuan).

host1 in `/usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/arm-linux/bin`)
[code]

host2 in `/usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/arm-linux/bin`)
[code]

looks good. What's your `BuildID[sha1]` ??

[2017-09-15 13:59] willthrom commented on #4
I cannot check it now but.. that seems to be a valid 32 bit file.
If you Unix System support 32-Bit Intel platform binaries so you should be able to run it.

I would check permission of the file and run it as ./gcc

Again, I was your before your unix is 64Bits... you might need to check in that Linux Distribution if the 32Bit libraries are installed:

 dynamically linked, interpreter **/lib/ld-lin

[2017-09-15 14:14] kollaesch commented on #4
@willthrom :+1: thanks, that helps --> [Arch Linux phases out 32-bit support](https://opensourceforu.com/2017/02/arch-linux-32-bit-support/)
So if so, would either have to build a docker, or setup a different linux-distribution.

[2017-09-15 14:24] willthrom commented on #4
I installed lubuntu through Virtual Box but I wasted as much time as I could do starting a docker with alpine distribution and installing the make and other package to compile...
If I am bored enough I would try but not this weekend.

[2017-09-15 20:14] snoerenberg commented on #5
@brtwrs have a look at the recovery image of the 720p with binwalk. There seems to be a similar hack possible only with SD Card. http://www43.zippyshare.com/v/NgfFX5ry/file.html <- new image folder

... Maybe not ... the "sdtest" is never called/used... and the privkey is missing in ft folder.

[2017-09-16 09:32] papplampe1 commented on #5
Look what i've got. I sniffed the traffic during an update and got the URL for the Version 3.3.9_0129 update file:

http://awssgp0-cdn.fds.api.xiaomi.com/default/0870c0254e9cd40a5e4cac2265c46e87_upd_mijia.camera.v1.bin?GalaxyAccessKeyId=5721718224520&Expires=1511835126000&Signature=YI6MRwNnCm7+bdjjqwND8bxpj5s=&uniqRequestId=89427518

As this link might expire soon, I made a save copy of it:
Downlo

[2017-09-16 09:45] willthrom commented on #5
@papplampe1 thanks!

As you "like" to play with the sniffer. It will be handy to know how the configuration from the cloud is been sent, and how the camera notify the movement detection. Just in case we can create an app to do the same.

The config used is easy to "customize" as it is been saved in a file inside the the camera but I would like to know if we can reuse whatever xiaomi has developed.

[2017-09-16 10:57] kollaesch commented on #4
My plan was also to use an alpine-docker-image.
(`docker pull multiarch/alpine:x86-edge` for 32bit-support)
Same here, no time during the weekend.

[2017-09-18 12:43] kollaesch commented on #4
Update, I guess my toolchain-download is still messed up. I just built a docker-container, but the issue remains.
~~Please check the [Dockerfile.txt](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1310665/Dockerfile.txt)  (without the `.txt`) Thanks!!~~
~~@willthrom which toolchain did you download?~~

I switched to a debian-image. The working Dockerfile is [here](https://github.com/Fili

[2017-09-18 19:21] willthrom commented on #4
@kollaesch  thats looks much better

[2017-09-18 23:03] kollaesch commented on #4
The unfortunate thing ...

[code]

configure.log brings:
[code]

[2017-09-19 07:08] willthrom commented on #4
Check your PATH environment variable. I don´t think ./configure is using the proper compiler.

(by the way, just start with a basic program, like a hello world, with a simple make file....)

[2017-09-19 07:52] kollaesch commented on #4
The PATH is set in the Dockerfile itself

[code]

I also can't find the so called 'cc1'. Can also be that this is a version-problem. (That dropbear needs a newer gcc?)

[2017-09-19 09:33] willthrom commented on #4
I closed this issue because I already compile dropbear using the toolchain from the SDK, the toolchain contain all the binaries (gcc) you need, so you cannot "get" a new version of gcc.

According to your configure log, it seems you are not using the compiler from the SDK.

You should start with something easier, like this example I created.....
[test.zip](https://github.com/Filipowicz251/mijia-10

[2017-09-20 16:00] papplampe1 commented on #5
@willthrom
I'll try. Can you give me a hint what to look for? Do you have a file name? When does it fetch the config? On every boot?

[2017-09-24 08:52] willthrom opened #7 "New firmware disabled SDCARD access"
Hi,

Can anyone with UART access to get me a copy of the new firmware [3.3.9_0139]? It looks like they have changed something and my valhalla.sh scripts are not been loaded...

Thanks.

[2017-09-24 10:43] willthrom commented on #5
@papplampe1  can you provide the URL of the latest Firmware... _139...

[2017-09-24 11:20] papplampe1 commented on #5
@willthrom I'm sorry. My App says that my Firmware is up to date, Version 3.3.9_0129. Which server are you on? I am on Singapore right now. Maybe I need to change it to your server.

[2017-09-24 11:40] papplampe1 commented on #5
@willthrom Yes I will try right now

[2017-09-24 11:42] willthrom commented on #5
China

[2017-09-24 12:20] papplampe1 commented on #5
Sorry, not able to get the link like the last time. I had to update the mi home app to get the new FW in the first place. Seems like they changed something in the way the device gets the firmware aswell.

[2017-09-24 12:27] willthrom commented on #5
np, just let me know when ever you have time.

[2017-09-24 15:53] papplampe1 commented on #5
Just to make sure: You know you can apply tf_recovery.img to SD card, this will set you back to a 3.3.6 FW. Then you can change the server of your mi home app to something else but China Mainland, and then you are offered to update to 3.3.9_0129 which might work again with your script.

[2017-09-24 15:58] willthrom commented on #5
@papplampe1 I could try that but I am more interesting in knowing what is in 0139. I need to figure out a way to download the images to the SDCARD form the camera before applying the patch.

That tf_recovery.img do you mean? I currently have 2 but I don´t know their source

[2017-09-24 16:01] papplampe1 commented on #5
This is the recovery I am using to get back to 3.3.6 (to again and aigain trying to capture how the heck the camera is updating):
http://en.miui.com/thread-525318-1-1.html (Alternative Mirror on [Google Drive](https://drive.google.com/file/d/0B_6noWZ_IGc5MmZEVWpyc1FyZ2c/view?usp=sharing))

I will continue trying to get the 0139 :-)

[2017-09-24 16:04] willthrom commented on #5
Thanks. I will add some more debug in the script...

[2017-09-24 16:16] willthrom commented on #5
@papplampe1 Is that firmware for the 1080p? according to the picture it looks like but mine is now blue blinking and not yellow.... I will leave it there for 10min and see what happened...

[2017-09-24 16:19] snoerenberg commented on #7
New FW:
[code]

https://cdn.fds-ssl.api.xiaomi.com/miio_fw/5529fa82e3eb8659f17723922accb56b_upd_mijia.camera.v1.bin?GalaxyAccessKeyId=5721718224520&Expires=1514045709000&Signature=S+ngZH8VZNGY4zGswTDgW6GypxM=&uniqRequestId=98629710

http://www106.zippyshare.com/v/1HR9M7cX/file.html

[2017-09-24 16:20] papplampe1 commented on #5
My model I am using this tf_recovery.img on:  SXJ01ZM ([at Gearbest](https://www.gearbest.com/ip-cameras/pp_615275.html))

[2017-09-24 16:25] willthrom commented on #5
Same as mine... what the led does when it is writing the firmware? and when it finished?

Mine in blinking blue...

[2017-09-24 16:28] papplampe1 commented on #5
I put the tf_recovery.img in the root of the sd card. Put the card in. Power the camera up. It then should start rapidly blinking orange (writing image). After some time solid orange (booting). And then it should slowly blink orange to indicate it is ready for beeing discovered by the app. Try the reset for over 5 seconds. Maybe it somehow remembered something pre-recovery...

I checked again. Aft

[2017-09-24 16:55] snoerenberg commented on #7
They replaced the private key in /ft/prikey.pem with the public key.
(like it is correct 😄)

[2017-09-24 16:58] willthrom commented on #7
@snoerenberg that makes more sense but now we need to find another place.. Although I am not sure it will be possible...

[2017-09-24 17:04] papplampe1 commented on #7
@snoerenberg How did you get that link? In wireshark it looked like an SSL connection was established to download that firmware, that's why I could not see that link in plain text. Please share your wisdom :-)

[2017-09-24 17:07] willthrom commented on #7
@snoerenberg we will have to tick with 137 and then apply patches manually if we want to continue with the SDCARD access as we don´t know now what Private Key they are using... :(

[2017-09-24 17:11] snoerenberg commented on #7
@papplampe1 at first I wanted to start the camera in normal mode with UART shell ... wasn't able to get it running :) ... miio_ota should write it as debug log

[code]

than I remembered that the whole communication was somehow on the SD card but
I already got the DL link on the following way:

1. attach UART
2. copy revision 0.2 to SD card
3. start camera
4. start update of camera through Mi App

[2017-09-24 17:11] willthrom commented on #7
Or.. modify the file after.ota.sh... And change the keys in the jffs2 :)

[2017-09-24 17:13] snoerenberg commented on #7
@willthrom yes that's right ... downgrade is than necessary

[2017-09-24 17:17] snoerenberg commented on #7
@willthrom than we need to resign the header from the upd file ... but I think this is written in SDK how to do this

[2017-09-24 17:30] willthrom commented on #7
It will depend when the post-ota.sh is been executed :P..  I might be able to rewrite post-ota.sh to restore the original key.

I will try to do that as soon as I restore to the 3.3.6 version and upgrade again.

[2017-09-24 19:14] willthrom commented on #7
I did the recovery with the tf_recovery.img but now I am not able to connect to any server.. no idea why.

For some servers I manage the camera to connect as the blue light stop flashing but the mobile application doesn´t connect.... I might have to find the previous version as I updated the mobile app.

[2017-09-24 19:20] willthrom commented on #7
Forget about that.. it seems my routes got tired of the camera connecting and are rejecting the request. With an external (Mobile Data Connection it works :) )

[2017-09-24 20:17] willthrom commented on #7
By the way....in you have an sdcard and the mode MTBF a log is created printing out the URL as well..

[code]

[2017-09-24 21:18] willthrom commented on #7
I managed to inject a post OTA code to be executed after the firmware has been upgraded and seems to be executed but I might have done some  mistake because it didn't work.  I think it is because I need to mount the partition again.

Any way.. it looks good

[2017-09-25 18:54] willthrom commented on #7
I am having some issues with injecting the changes because I don´t know what the OTA binary is really doing.... If I tried to change the jffs partition, the commands work but I get a kernel error in the dmesg.

jffs2_get_inode_nodes: Node header CRC failed at

I see the OTA saves the partition one by one but I don´t know how it writes them... or if I can get those new writes mounted ....

[2017-09-30 20:28] willthrom commented on #7
I finally found a way to inject whatever I want when performing an OTA in the JFFs2 partition.
Back to business.. although I was expecting some other people compiling the streamers.

I will upload a release tomorrow to work from upgrade < 339. People already there will have to install the recovery 009 and update from there.

[2017-09-30 20:28] #7 closed

[2017-10-02 08:29] willthrom commented on #5
@kollaesch  how are you doing with the RTSP server ? :)

[2017-10-02 15:54] drchris10 commented on #1
Its been 21 days since there was an update on this. Is anyone still working on the hack for the xiaomi 1080p cam?

[2017-10-02 19:23] willthrom commented on #5
Well. I compiled a light version of rtspd.  I will prepare a release with that.  It is quite bad quality but it works...

[2017-10-04 23:30] nedimbase commented on #5
Hi, I am looking RTSP for camera xiaomi minija 1080P. Is this topic for this camera and how to do it? http://nambor.com/wp-content/uploads/2017/03/Full-Review-of-Xiaomi-mijia-1080P-Smart-IP-Camera.png

[2017-10-04 23:36] nedimbase commented on #1
so anything new for RTSP, is it possible now and how?

[2017-10-05 16:22] willthrom commented on #5
Yep. This project is for the camera your linked.

Take a look to the Releases. Still it is alpha the RTSP support.

[2017-10-05 16:23] willthrom commented on #5
I am closing this issue as RTSP has been add. (and this threat has too big already).

I will create another one with the new RTSP proposal

[2017-10-05 16:30] willthrom commented on #5
I am closing this issue as RTSP has been add. (and this threat has too big already).

I will create another one with the new RTSP proposal where I expect some other developer to work on it

[2017-10-05 16:30] #5 closed

[2017-10-05 17:30] willthrom opened #8 "[TASK] RTSP 555Live version"

[2017-10-06 13:09] andreq commented on #8
Did anyone figure out a way to share a VirtualBox or any kind of VM of the dev environment? I'm quite bad at the whole setup of those sadly.

[2017-10-06 13:38] willthrom commented on #8
Installing VM is the easy part.

Have you give it a try? Installing virtual box, the load a Linux Image, like "lubuntu".. and then just follow the instructions in the SDK...

[2017-10-06 13:54] andreq commented on #8
I admit, I didn't try anything yet for this camera, but last time I worked on an embedded device I lost many nights and never got a good working setup. Ended up compiling on the device itself, which took ages. I'll see if I find some time to play with it this week-end.
Btw, good freaking job figuring all the detail to get this thing up and running!

[2017-10-06 15:05] willthrom commented on #8
The toolchain is very easy to install, the SDK has all you need.

[2017-10-06 17:54] papplampe1 commented on #8
Wow. SSH and RTSP working with your script with the old firmware on my camera. good job. did not realize you were that avanced in the project until i tried it.

[2017-10-06 18:53] willthrom commented on #8
@papplampe1 you can upgrade to the latest firmware. it should work. If not, let me know. (you can try to remove the ft folder from the SDCARD if after upgrading to 139 it doesn´t work.

[2017-10-06 18:58] jonas-olofsson commented on #8
How do I access the current rtsp stream from the camera after applying the hack?
-- Edit -
Yes it is, in bold and everything! Sorry but totally missed it...

Added a PR to add it to readme as well

[2017-10-06 19:12] willthrom commented on #8
Isn't it in the instructions?

[2017-10-06 19:32] jonas-olofsson commented on #8
Yes it is, in bold and everything! Sorry but totally missed it...

[2017-10-07 07:58] kollaesch commented on #8
@willthrom
kudos! :octocat: Impressive work! 👍 🥇 🍰

__To follow-up on the VM:__ Did you learn anything new about setting up the SDK ?
My docker is running, but still couldn't successfully build anything.
Additional starting tipps? 😋

[2017-10-07 08:05] willthrom commented on #8
I attached in one of those post a full makefile with a demo program... you only need to run make on it....
The SDK only needs to be decompress is a folder..... all very well described in the SDK Documentation.

[2017-10-10 18:58] aferraz opened #10 "Help needed"
Hi @willthrom,
 is this the correct camera https://www.gearbest.com/ip-cameras/pp_615275.html

Thanks
 Alessandro

[2017-10-10 19:05] kollaesch commented on #10
Yes, it is ...

However, it might be that the cam the you'll get send will already have a newer firmware.
Please read the comments of the release how to downgrade.

[2017-10-10 19:30] aferraz commented on #10
Thanks @willthrom
 I already downgrade to the firmware in release 3 and then I put all files in the SD Card but after reboot I can't access SFTP or RTSP.

What is wrong ?

[2017-10-10 19:32] willthrom commented on #10
Can you check/upload the logs files?

When the tools are working the LEDs on the camera flashed randomly, blue and red at the same time...

[2017-10-10 19:34] aferraz commented on #10
The red is blue, my current firmware version is 3.3.6_099

[2017-10-10 19:36] willthrom commented on #10
The tools creates some logs files in the SDCard

[2017-10-10 19:40] aferraz commented on #10
Running Customm Script v1.5

Configuration:
  CLOUD_DISABLED=0
  CLOUD_STREAMING_DISABLED=0
  RTSP_ENABLED=0
  RTSP_MODE=s
  SSH_ROOT_PASS=qwerty123456
os-version
NAME=Buildroot
VERSION=2016.02-git-00292-gca900c9-dirty
ID=buildroot
VERSION_ID=2016.02-git
PRETTY_NAME="Buildroot 2016.02-git"
XIAOMI_VERSION=3.3.6_0099
XIAOMI_BUILDNO=312
 Staring SSH Server
 Getting root access
Changing password for r

[2017-10-10 19:46] willthrom commented on #10
ok, good, there is a bug in the scripts.. I will take a look and upload a new release

[2017-10-10 19:47] willthrom commented on #10
actually, that shouldn´t the camera.... ssh is there..

Can you test SSH?

[2017-10-10 19:49] aferraz commented on #10
No, "Connection refused"

[2017-10-10 19:52] willthrom commented on #10
Remove the Log files from the SDCARD and restart the camera.....

Then check if the Leds in the Camera change from Red to Blinking Blue and Red at the same time for 5s.

Then try to connect to the camera. How are you discovering the IP of the camera? Checking in the router?

After a couple of tries if still doesn´t work, power off the camera and upload the logs again.

[2017-10-10 20:01] aferraz commented on #10
After boot the led is Red, then blink 3 times blue and then it remains blue,
I discover the IP from the dhcp logs

[2017-10-10 20:09] willthrom commented on #10
UPLOAD a new set of logfiles after previously removing them from the sdcard

[2017-10-10 20:09] kollaesch commented on #10
Did you start the cam for the first time?
I assume it's just stuck in the initial state of binding to the Wifi?

I also had issues getting release 0.4 running. You start with a clean SD-card.
(just to rule that out)

[2017-10-10 20:13] willthrom commented on #10
Btw, RTSP_ENABLED=0 has to be 1 in midgard.ini file.

But first upload the new logs. It is very weird add the initial scripts are working. You can see the SSH server is up in the logs...

[2017-10-10 20:43] aferraz commented on #10
I have rebooted the cam more times but no others logs have been created after deleting the old one.
I can reach the camera with the app and I cant ping it.

[2017-10-10 20:50] kollaesch commented on #10
Just to be sure:

correct?

Is bluetooth enabled on your phone (where the app is running)?
The connection then might be via bluetooth.

[2017-10-10 20:53] willthrom commented on #10
mmm.... That is weird. Is the camara still on 109 version?.

Try this. Copy 0.4 release into the SDCard and the tf_recovery.img. Restard the camera, it will  downgrade. After it reboots, upgrade straight away to 139.

Another thing you can do it is just to copy 0.5 release again to SDCARD.  Check if the logs are created now

[2017-10-10 20:53] aferraz commented on #10
@willthrom I change the password for root in the config file and now it work
I don't know  if it is a case but now work ssh and streaming

[2017-10-10 20:55] willthrom commented on #10
???? That is very weird

[2017-10-10 20:55] #10 closed

[2017-10-10 20:58] aferraz commented on #10
I agree but now it works

[2017-10-10 22:34] Nanoc0re opened #11 "Cant Downgrade"
For some reason i cant downgrade i have copy the tf_recovery.img.bak to sdcard and rename it to tf_recovery.img  after powering the camera up it just still doing a normal boot and nothing have change

[2017-10-11 06:45] willthrom commented on #11
Download the file again, just in case. It has to be in root of the SDCard.

You can check if the SDCard is fat32. From the MiHome you can validate the status of the SDCard as well.

[2017-10-11 08:52] aferraz opened #12 "New request"
Hi,
 it's possible to add a web server returning a still image from the camera ?
Something like http://IP_OF_CAMERA/image.jpg

I would like to use this camera in homeassistant automation software. With a still image I can make an automation where I could send the image via Telegram, for example, in case motion is triggered.

Thanks
 Alessandro

[2017-10-11 09:08] willthrom commented on #12
I don't see any reason you couldn't implement that. Usually a short video it is more useful for motion detection thought

[2017-10-11 09:24] aferraz commented on #12
You are right mut at the moment homeassistant don't support videos on Telegram notifications.

[2017-10-11 10:23] itanczos commented on #12
@aferraz
HomeAssistant handles RTSP stream via FFMPEG.

[2017-10-11 10:25] aferraz commented on #12
@itanczos
I know but I don't find a way to send it via push notification.

[2017-10-11 10:47] Nanoc0re commented on #11
The first time i try with ex-fat format after change it to fat32 and nothing, i see a small difference with fat blink for 1 min just blue but again nothing change, the status of SDcard is good and the file is in root

[2017-10-11 10:47] bartvollebregt commented on #12
I would love to see this implemented. I would then be able to easily integrate it in my OpenHab2 installations without having to do rtsp > jpeg conversions with ffmpeg....

[2017-10-11 10:51] willthrom commented on #12
Having in the camera a software running a webservice publishing Image on Demand is possible but it involves quite a lot of work and I don't think someone will implement it..

The real problem is what imagine you want to publish? Whatever is there? What value has that?

I could understand a motion event triggered and the camera send that notification (Image, like upload the video/image to FTP serve

[2017-10-12 03:32] andreq commented on #8
I got my old Ubuntu VM back up and running. Compiled your test app successfully!
Right now I'm try to cross-compile gstreamer, but it might be overkill for now and I'm a bit lost.

I was able to configure the makefile "properly" with
`./configure --host=arm-linux-gnueabi --prefix=/usr/src/arm-linux-3.3/toolchain_gnueabi-4.4.0_ARMv5TE/usr/local/ --enable-gtk-doc --disable-examples --includedir=//us

[2017-10-12 08:49] willthrom commented on #11
Are you sure you have a Mijia 1080? That downgrade method has been used but a lot of people already...

It is actually coming from: http://en.miui.com/thread-525318-1-1.html

[2017-10-12 09:04] lokster commented on #11
Try formatting it from the MiHome app. I had similar problem. It worked when I formatted it from there.

[2017-10-12 09:19] willthrom commented on #8
--prefix is the destination folder. you don't want to use the toolchain.
The --host is normally "arm-linux" or the  prefix of the compiler.
you don't need to add the includes of the toolchain. neither the libdir or --exec-prefix. normally autocalculated

Check if ./configure has an option for "CROSSCOMPILER"

Normally the output will go to the "prefix" folder when you run make install

--prefix=/h

[2017-10-12 09:38] lokster opened #13 "Questio: do you thin it will be possible to compile & run Motion on this camera?"
I'm talking about this app: http://www.lavrsen.dk/foswiki/bin/view/Motion/WebHome
If I can get this running on the camera, I don't need anything else :)

[2017-10-12 15:24] willthrom commented on #13
Why would you need another tool analyzing the image?  The camera has already HARDWARE for that.

And  just run it is not actually the real problem, but how you are planning to provide the image from the camera to this tool....

It is quite easy using one of the SDK example for motion detection to create a tool to perform an action when motion is detected. Actually the hardware allows you to config

[2017-10-13 14:22] Nanoc0re commented on #11
Thanks for the answers i will try again today

[2017-10-14 22:53] niighthawk opened #14 "RSTP over 0.4"
Is it only me or RSTP's image over 0,4 have some glitch ?

[2017-10-14 23:08] niighthawk commented on #14
every moving car, or people look like that over RSTP ... but my other cams are okay only the mijia 1080p ....

https://youtu.be/M8jPchgIpRE

[2017-10-15 06:57] willthrom commented on #14
The RTSPserver in the Mijia is test implementation coming from the ChipSet manufacturer.
Not very reliable. There is some work in a new RTSPserver using other libraries (like the one in fang camera), but there istn´t too many developers working on that....

Stay tune.. it might happen,

[2017-10-15 06:57] #14 closed

[2017-10-15 06:57] #13 closed

[2017-10-15 07:44] bartvollebregt commented on #12
@willthrom I think something like this was implemented in one of the other xiaomi camera hacks. I'll try to find it.

They way it works is that its just a web server running on an url like http://yourip/image_latest.jpg

Everytime some does a request it will capture an image and put in on a webserver on the camera so image_latest.jpg is always the latest image.

[2017-10-15 07:52] snoerenberg commented on #11
I recognized that 64GB SDCards are only supported after the boot.
I could not get the hack to run on >32GB.

@Nanoc0re which size of SD Card you tried?

[2017-10-15 07:53] m1yuan commented on #14
When Mijia streaming and RTSP streaming are both enabled, the SoC may be overloaded. Cloud you try to disable Mijia streaming and try again ?

[2017-10-15 07:56] willthrom commented on #11
Basically because normally fat32 has a 32GB limit.....    with 4GB file size limit.

It is true some system can accept bigger limits but u-boot could just not accept them...

[2017-10-15 11:48] niighthawk commented on #14
Cloud is already Off inside the Valhalla.sh file... no ?

## Config
##################################################################################
CLOUD_DISABLED=$(awk -F "=" '/CLOUD_DISABLED/ {print $2}' $sd_mountdir/midgard.ini)
if [ -z "$CLOUD_DISABLED" ];then
 CLOUD_DISABLED=0
fi

CLOUD_STREAMING_DISABLED=$(awk -F "=" '/CLOUD_STREAMING_DISABLED/ {print $2}' $sd_mountdir/midgard.ini)
if [ -

[2017-10-15 11:51] willthrom commented on #14
CLOUD_STREAMING_DISABLED=0
CLOUD_DISABLED=0

1 to disabled......

CLOUD_DISABLED is to avoid any communication with Xiaomi.
CLOUD_STREAMING_DISABLED is to start the Xiaomi Streamer...

[2017-10-15 11:56] niighthawk commented on #14
only in the valhalla file or in midgard.ini too ?

[2017-10-15 12:03] willthrom commented on #14
midgard.ini.... valhalla.sh shouldn´t be touched

[2017-10-15 14:20] kollaesch commented on #12
@bartvollebregt
How about this: I'd prefer to this keep this slim. So having a `custom_component`|`script`in hass would be an alternative.

check [here](https://community.home-assistant.io/t/save-camera-image-when-motion-detected/12556/8)

[2017-10-15 14:50] niighthawk commented on #14
Update on my problem.

everything is disabled like you said, I also tried the release 0.5 with cloud OFF and the glitch is still present.

[2017-10-15 15:27] willthrom commented on #14
Yep.. the current RTSP is a very light version... it shouldn´t glitch anyway but I would try when I have time with a new library

[2017-10-15 15:39] niighthawk commented on #14
ok thk  👍

[2017-10-15 18:57] aferraz commented on #12
I use a script in HA and it work.
In my case the camera is the problem.
Sometimes after a reboot it remains with the orange led on and is unreachable.

[2017-10-21 17:30] AndBaetz commented on #12
Would be really cool for openHAB2 to have that implemented.

[2017-10-22 18:33] subashp opened #15 "Flashing the bootloader & kernel"
Hey Folks,

For whatever reason, the device I received was stuck at yellow/amber light when powered on. I opened up the hardware and decided to inspect whats going on underneath. I am not getting the boot logs (like in https://pastebin.com/raw/nt4GUAeF) and it now seems to me that the flash could be corrupt. Hence the processor is not able to loade the SPL which usually loads the u-boot and furthe

[2017-10-22 19:31] willthrom commented on #15
normally, yellow is when no Wifi connection is available but the Camera should start playing an audio in Chinese stating that.  As far as I remember U-Boot or any other booting stage set the led to yellow.

Check the UART again, speed and connectors.
Some one here messed with the FLASH but still the UART was working (at the end the booting process is somewhere else), In his case, U-BOOT was not ab

[2017-10-22 20:36] nedimx opened #16 "Camera recording to SD card - video quality"
Hi,

I have two issues with recording on microsd card with this camera.

1) RTSP
I didn't test 0.6 version, but 0.4 version.
Video is very slow and stuck on live preview, picture is very bad. Also problem is it is bad with RTSP and if I view on my MI Home app..
If wifi signal is worse, recorded video on sd card is worse too.

Maybe it's not a case in this 0.6 version, but I had to say this because

[2017-10-22 21:20] willthrom commented on #16
The rtsp server is still in beta but without the source code from Xiaomi and using the examples from the SDK the progress is quite slow. Besides noone else is working on this and I am very busy.

Regarding the performance, running Xiaomi streaming and the rtsp server will kill the camera.

You cannot downgrade to 139 because that is the latest one.  0019 is the version we can downgrade to install

[2017-10-22 21:20] #16 closed

[2017-10-24 07:47] pronsta opened #17 "Mijia 360?"
Hi,

Does this hack works with the [Xiaomi Mijia 360](https://xiaomi-mi.com/ip-cameras/xiaomi-mijia-360-home-camera-white/)?

Thanks

[2017-10-24 12:24] willthrom commented on #17
Nope. Mijia 360 is from a different manufacturer.
Maybe the CPU is the same and with some little work the "Tools" could work.

[2017-10-24 12:24] #17 closed

[2017-10-24 12:24] #15 closed

[2017-10-24 12:25] willthrom commented on #11
Closing this issue as it is not related to the "tools"

[2017-10-24 12:25] #11 closed

[2017-10-25 01:44] subashp commented on #15
In the process I think I blew up the Tx pad on the board. Does anyone have access to the schematics which I can use to solder the Tx from some other component(resistors mostly)

[2017-10-25 02:13] subashp commented on #15
@willthrom thanks to the link, I see that the SPI flash chip does have some activity during initial power on but nothing happens later. I dont know which stage of the bootloader lits up the yellow light, but you are right, it does. Probably it doesnt reach the uboot which initializes the UART from what I remember working in it long time ago. Looks like this will be another piece of electronic junk

[2017-10-25 04:42] ferdydek opened #18 "updating problem"
Tried several times and I'm always failing to update to latest version after the hack.

Always ending up on the recovery image, then installing the hack. Have access through SSH. Then I'm trying to update the fw via MiHome app and always end up with latest version but the hack is gone.

last info before update starts:
[code]
then the application is downlaoded so camera is basically frozen, after f

[2017-10-25 08:13] powerwade commented on #18
I had the same issue, and I fixed it by

1, Format the SD card within the MiHome app
2, Downgrade camera with the recovery found in release0.3_338 version
3, Upgrade tool to release0.6
4, Upgrade camera to 3.3.9_0139 with MiHome (here I lost rtsp/ssh access)
5, Delete the 'ft' dir in SD card
6, Boot

[2017-10-25 08:54] willthrom commented on #18
Could you try to manually delete the FT folder in the SDCARD... after you are in 139

[2017-10-25 09:34] powerwade commented on #18
Hi, although I am not the OP I have the same issue. After upgrading to 139 the hack is gone (no ssh, rtsp access) - even I remove the 'ft' dir in the SD. Could it be that the camera dials home somehow with 139 and blocks the initial hack/script to run?

[2017-10-25 10:06] willthrom commented on #18
The 139 changes the logic but the "tools" should managed that.
In the logs you should see " miio_ota:  Inject Success"
as it is happening to the OP

I have created a new release (attached), please replace the one in the SDCARD and run the process again.

[release0.6c.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1414162/release0.6c.zip)

Send the folder log too next time. (attach e

[2017-10-25 12:46] ferdydek commented on #18
OK. Starting the process will post once its complete.
meantime, is this a typo in the language notification part of the script (I think its there since ever):
[code]
`/mnt/data/sounce/ ` or `/mnt/data/sound/` ?
when you go from the recovery firmware and run valhalla first time the sound folder changes to:
[code]

[2017-10-25 13:42] willthrom commented on #18
@ferdydek  that was fixed in the latest release...

https://github.com/Filipowicz251/mijia-1080P-hacks/releases/tag/0.6b

it seems in the release page version is in the top, instead of b... when they were released in a different order...

[2017-10-25 13:51] willthrom commented on #18
Fixed release page. Version 0.6c is the latest.

[2017-10-25 14:16] ferdydek commented on #18
To give full image of the upgrade process, the MiHome app shows progress only up to 69%, then rolls back to the "old version <> new version, update" screen, but the camera's orange led keeps flashing and the update will eventually complete (and camera will reboot with the click of night-vision switch).
[6c_upgrade_logs.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1414665/6c_upgrad

[2017-10-25 15:16] ferdydek commented on #18
I've reset everything, went back to _099, hack works but now cant install the update. Should I change the `DISABLED_OTA=1` for it to actually go through ?
[s1.6c.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1415114/s1.6c.zip)

[2017-10-25 15:24] willthrom commented on #18
:)  yep, set it to 0 to be able to upgrade.

[2017-10-25 16:38] Izoniz opened #19 "RTSP with MiHome"
Hi! I had installed patch. When I put in config CLOUD_DISABLED=0, CLOUD_STREAMING_DISABLED=0 and RTSP_ENABLED=1  I can't connect with RTSP.
Can streaming work from MiHome and RTSP simultaneously?

[2017-10-25 17:21] willthrom commented on #19
in the current version there is an issue when disabling the CLOUD.. basically it doesn´t really do anything...
A new release will be available soon.

And no. you cannot stream both at the same time, the driver of the camera doesn´t work every well doing that.

[2017-10-25 17:21] #19 closed

[2017-10-27 13:59] andreq commented on #8
So, I haven't got any deeper, even tho it compiled. I think I'm aiming at the solution the wrong way.

Is there plan to share the modified RTSP code from the SDK so we can work from that? I can compile the original code easily and run it, I just didn't change anything yet.

[2017-10-27 17:50] willthrom commented on #8
@andreq  I upload the code I developed for the RTSP server to https://github.com/willthrom/rtspServer_gm

feel free to take a look and work on it.

[2017-10-29 02:31] ferdydek commented on #18
issue in my case is that initial run of tool against version .099 removes the ft folder. recreating (creating backup ft folder and renaming it to ft via ssh) it before update solves the issue.
closing issue.

[2017-10-29 02:31] #18 closed

[2017-10-29 09:40] AshPowell commented on #18
@willthrom  Will this be automated as part of the hack or needed to be done manually going forward?

[2017-10-29 10:21] matsube11 opened #21 "Firmware downgrade"
How do you proceed to downgrade firmware on this camera ? I couldn't find any relevant info to do this

[2017-10-29 10:59] powerwade commented on #21
Download https://github.com/Filipowicz251/mijia-1080P-hacks/releases/download/0.3/release0.3_338.zip and copy the tf_recovery.img.bak file to the SD card and rename it to tf_recovery.img. Put the SD back to the camera and boot it. The camera will be downgraded.

[2017-10-29 11:13] willthrom commented on #18
it was already part of the version 0.7.

Get the latest 0.7.1 in any case.

[2017-10-29 11:14] willthrom commented on #21
Closed as the instructions by @powerwade  are the correct ones. (they are in the release as well but I will make it clear)

[2017-10-29 11:14] #21 closed

[2017-10-29 13:24] matsube11 commented on #21
Worked well thanks, untill I allowed firmware update.
New firmware 3.3.10_0146 broke it, so downgrading again

[2017-10-29 14:08] AshPowell commented on #18
Ah ok then it still is broke here then... Works on .099 but no longer available after firmware update

[2017-10-29 14:10] willthrom commented on #18
Could you upload the logs files and the log folder?

[2017-10-29 14:29] AshPowell commented on #18
[Archive.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1425170/Archive.zip)

Yep here you go...

[2017-10-29 15:27] willthrom commented on #18
@AshPowell

It seems there were some error when trying to upgrade to the latest version.
Oct 29 18:04:04 kernel: [  360.390000] Node totlen on flash (0x0000000d) != totlen from node ref (0x00000034)
Oct 29 18:04:04 kernel: [  360.400000] Node totlen on flash (0x6fc2390c) != totlen from node ref (0x00000308)
Oct 29 18:04:04 kernel: [  360.420000] Node totlen on flash (0x00000004) != totlen from nod

[2017-10-29 15:28] willthrom commented on #21
try to ugprade with RTSP off leaving Xioami Cloud and Streaming ON. And OTA on........

[2017-10-29 15:42] AshPowell commented on #18
From the version in 0.3 release as per docs.

Will try with rtsp off and report back

[2017-10-29 16:16] AshPowell commented on #18
No joy still same... upgrades fine but the hack isnt loading

[2017-10-29 17:33] matsube11 commented on #21
Again, that did the trick, great :)
And many thanks for your work

[2017-10-29 18:10] willthrom commented on #18
mmm, that is weird.. if you check "https://github.com/Filipowicz251/mijia-1080P-hacks/issues/21#issuecomment-340279392"  you can see someone having your same problem and after following the instructions they make it work.

Note. from the 0.3 release you only need the ft_recovery.bin file.. the rest has to come from the 0.7.1 release

[2017-10-29 18:16] AshPowell commented on #18
Ah ok I just disabled rtsp I didn't adjust the other configs... Will try that tomorrow. Thanks!

[2017-11-05 09:52] tobbegutt opened #22 "Tutorial Needed."
This is annoying. There is obviosly are more complex thing to downgrade and make the rtsp work than just "remove .bak" and put 0.7  or whatever obn your camera. There's gotta be a better tutorial than that? Is it depended on wich server? Why is it so hard to think that not everyone have the full on technological skill to figure this out so im sure theres at least 10 people here that have this work

[2017-11-05 11:29] willthrom commented on #22
The instruction are quite clear:
Use the latest version, default midgard.ini configuration.
Downgrade with the tools in the SDCARD.
Upgrade.

[2017-11-05 11:29] #22 closed

[2017-11-05 11:58] tobbegutt commented on #22
nope

[2017-11-05 12:01] tobbegutt commented on #22
just did that.
Fat32 sd card.
put in 0.7 and the recovery.
took out power, booted by holding reset. Went to pairing mode.
Paired and still on latest firmware and no rtsp.

So- since this is your tutorial. What did i do wrong?
Remember not all are having english at first language and have the skill to dissasemble a camera like you have. Take it down many notch.

[2017-11-05 12:02] tobbegutt commented on #22
@willthrom

[2017-11-05 12:08] willthrom commented on #22
No one has said anything about going to "reset" mode to pair the camera again.

In any case, I feel like you are "demanding" too much here, and this is a open source project where no one is getting anything except putting some of their free time in working on this.

[2017-11-05 12:15] tobbegutt commented on #22
Im sorry if my english skills are not good enough to ask in a more polite way.
Im here to get past this issue so i can contribute setting up this camera for surveillance using Ispy connect and to make sure the thousands of other people wich also bought this camera can get the full monty.

Look, i tried again without reset., No luck.

I tried again now, taking out the sdcard making sure i get the r

[2017-11-05 12:18] tobbegutt commented on #22
As i understand if this work correctly i can acces the camera both from Mihome and from Rtsp is that correct? Because that is my issue. I can just access rtsp and only rtsp on 099 firmware

[2017-11-05 12:45] willthrom commented on #22
Steps:

1. Configure the Wifi following the Xiaomi steps.
2. Check the camera is reachable and the video streaming is available using the XIaomi MiHome tool.
3. Power off the camera
4. Copy from the release.0.3 the file tf_recovery.img.bak to a Fat32 (max 64Gb) clean sdcard
5. Rename tf_recovery.img.bak to tf_recovery.img in the sdcard
6. Reboot the camera
7. Yelow leds will turn on
8. Wait 5min
9

[2017-11-05 14:19] tobbegutt commented on #22
Nope.

after downgrading, and doing all the steps i can only connect using rtsp.
I cannot connect using mihome.
Tried injecting default midgard but no difference.
Tried taking out sdcard and connect, but then it wouldnt turn on. orange steady light.
tried then after trying several servers with the tool working to open mihome but no luck.
I then tried to update after reset and inject the working sd

[2017-11-05 14:38] willthrom commented on #22
Both service will not work. The camera drops frames and has encoding when the RTSP server and the Xiaomi streamer are enabled at the same time.

You could use SMB of FTP to get the files from the camera and delete them after

[2017-11-05 14:48] tobbegutt commented on #22
ahh.. fuck.. So i just wasted 3 days beliving both rtsp and mihome would work at the same time..
No wonder ive had a lot of problems.
I had rtsp working on 099 firmware but not on the latest. Anyway.. forget that issue for now unless someone is working on having them both work togheter.

But since i cheaped out when i ordered my sdcards, if you dont mind lets talk about NAS for a second.
You see i

[2017-11-05 15:01] ferdydek opened #23 "Tutorial for flashing Mijia 1080p in case of upgrade issues"
I had issues upgrading and keeping the tool on the camera, so after many trial-errors this is the method that worked for me.

**Preparations:**
Download https://github.com/Filipowicz251/mijia-1080P-hacks/releases/download/0.3/release0.3_338.zip and copy tf_recovery.img.bak  to empty FAT32 SD card. Rename the file to `tf_recovery.img`.
You will be flashing `3.3.6_0099` FW which really does work pro

[2017-11-05 15:06] willthrom commented on #22
RTSP and Mi will even work together because the issue is coming from the driver of the camera, unless some decide to play with it but I really doubt it.

I don´t use NAS so I don´t have take a look the Xiaomi NAS binaries. Someone might help you there, I just don´t have the time.

[2017-11-05 15:08] willthrom commented on #23
@ferdydek  what do you think if we merge what I wrote in the ticket "https://github.com/Filipowicz251/mijia-1080P-hacks/issues/22#issuecomment-341978523", check the list of steps and the good work you did here and move it to the Wiki. https://github.com/Filipowicz251/mijia-1080P-hacks/wiki

Feel free to edit it at will, I just think it is better than having an issue ticket opne difficult to refere

[2017-11-05 15:08] #23 closed

[2017-11-06 22:15] jzeferino opened #24 "Raise motion detected clip length"
There is any way/hack to raise the length of the recorded motion detection clips?

[2017-11-06 22:17] tobbegutt commented on #24
should be made like, record all the time while it got motion, but to be able to short the clips to maybe 5 minutes length? i dunno. great idea.

Sent from my MI MAX 2
On "J. Zeferino" <notifications@github.com>, 6. nov. 2017 23.15 wrote:

There is any way/hack to raise the length of the recorded motion detection clips?

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2017-11-06 22:20] jzeferino commented on #24
Yes, would be nice to customize the time to record after motion is detected. But 5 minutes could be the default.

@tobbegutt do you know if there is any way to get more than 12/10 secs of recorded data using the original firmware and application?

[2017-11-06 23:29] tobbegutt commented on #24
Yes. I have a Nas and it makes 1 minute files and upload them to my hdd. But, the stupid thing is that its 1 minute without recording before next clip due to motion sensor activation. The app should be reworked and made better.

[2017-11-07 01:46] subashp opened #25 "Corrupt kernel image"
Folks, wrt issue (https://github.com/Filipowicz251/mijia-1080P-hacks/issues/15) I finally managed to solder a Tx pad very close to the processor pin(because my provided Tx TP came out during soldering) I got the following console message. It looks like my kernel could be corrupt. I had attempted to boot the image from SD card before and not sure if it flashed a wrong image. Any thoughts how to get

[2017-11-07 02:07] subashp commented on #25
I found that https://github.com/Filipowicz251/mijia-1080P-hacks/issues/21 provides the firmware to recover. Cool. My camera boots up now. Thanks to everyone who is working to provide support to this camera.

[2017-11-07 02:07] #25 closed

[2017-11-07 18:21] willthrom commented on #24
I haven´t seem any config value for the duration of the motion clips.

no under any .cfg file or nvram show.

you could try to play with "/gm/config/gmlib.cfg"

[2017-11-07 23:28] tobbegutt commented on #24
Im not skilled enough to understand what i should do with this config.

[2017-11-08 06:06] designlook opened #26 "Is it possible to make this camera work with YI Home app?"
The app is so much better than MI Home.

[2017-11-08 08:49] AshPowell commented on #26
I wasn't sure so when I first got my cam a while back, I tried to set it up with it and now can't get it to pair or anything with the proper app, even after restoring firmware.... So I doubt it

[2017-11-08 17:10] willthrom commented on #26
The camera connects to Xiaomi Server, whatever server you configure when pairing with the mobile.
After that all the communication is done from the camera to the Xiaomi Server and from there to whatever other application is able to connect to Xiaomi Server.

Can you provide a link for the YI Home App? I really though there was only one MiHome for all Xiaomi Smart Devices, however the interface cha

[2017-11-08 17:10] #26 closed

[2017-11-14 13:23] anxdroid opened #27 "first attempt..."
hello guys and many thanks for your work. I just tried to flash your hack (with the downgrade) and the situation of my cam is as follow:

- ssh and rtsp are working

- the camera is not recognized by the mi platform (the android app tells me that is offline)

- performing a reset I can still hear the chinese voice

For now it's enough for me,  but I want to achieve the best result, if possible :-)

[2017-11-14 21:41] debsahu commented on #27
I'm facing similar issues, check https://gitter.im/fang-hacks/Mijia-1080P The OP is quite active and a few are helping out.

[2017-11-15 09:10] #24 closed

[2017-11-15 09:15] willthrom commented on #27
The /var/log/lastlog error is normal. It is because the / partition is read-only and by default login creates those files if they are not there.

4/5s seems a lot, usually is 1-2 sec.
Did you disable Xiaomi Streaming from the configuration file: midgard.ini?

Running RTSP server and Xiaomi Streaming Server will definetely product delays, image distorsion and frames drop.

Regardin editting, yes, I

[2017-11-15 10:52] anxdroid commented on #27
thanks for your reply. I didn't disable the Xiaomi server because I read that such function wasn't working properly. I'll give it a try.. Yesterday I tried a fresh install with rtsp ON, ssh ON and cloud streaming ON and it worked with both the hack and xiaomi services active. I ran an update to the latest version (3.3.10_0146) and, after that, the hack disappeared: no ssh and no rtsp (used android

[2017-11-15 17:03] willthrom commented on #27
As it is mentioned in the instructions. when upgrading, use the default configuration file, midgard.ini from the release, as sometimes the process doesn´t finish properly because the RTSP or any other service is still running.

(what might no be working is the Disabling OTA  option)

[2017-11-15 17:03] #27 closed

[2017-11-16 10:51] 1980georgeg commented on #27
I've just ordered another mijia - I'm running at the moment an older one that had the earlier fw to begin with. Once I get this new one up and running with the downgrade, are there any real reasons to update the fw afterwards? I haven't touched my current one out of fear I'll bork it with new fw.

[2017-11-21 18:27] Killbrum opened #28 "Production ready?"
Hello

Thanks for releasing such hack. I have one small question. Is this hack ready for production usage? I need only two things.
- RTSP
- DHCP with reconnection ability

Thanks!

[2017-11-21 19:03] willthrom commented on #28
Production? Well we are still waiting for the QA department to finish the Integration Test. Then the release management team will follow the procedure signed by the architect and the delivery will be done by the Project Manager.....

RTSP works.... people hasn´t complained
The camera connects automatically to the WIFI, but there isn´t any DNS server or broadcast

[2017-11-21 21:13] Killbrum commented on #28
Thanks for quick reply.

What about DHCP client? I have old xiaomi mi ants with DHCP support. At first look, I didn't find any configuration for static/dynamic IP address assignment. It seems WiFi SSID/PWD options also doesn't exist.

Could you point me where I can find these settings?

Thanks

[2017-11-22 06:49] willthrom commented on #28
Wifi option doesn´t exist because it is done when pairing the camera the first time you power up the camera or when resetting it with the button.

Using SSH the Wifi config can be changed manually, nvview  (or nv* something)

[2017-11-22 06:49] #28 closed

[2017-11-25 05:55] whuang1965 commented on #8
Does it support sound?

[2017-11-25 06:59] willthrom commented on #8
No sound for now...

[2017-11-29 10:14] TigerChi commented on #8
Thanks for RTSP Server !
It's really great to streaming in local network for multi-camera.
If can support sound, I think it will perfect !

[2017-12-02 23:56] Eth3rkni6ht commented on #23
Hi guys!
Thanks so much for this valuable info. My camera got stuck on orange light after first firmware update via the Mi app just 5 minutes after unboxing it, and I was quite frustrated. Following the process I could get it to work again :+1:
Now I'll try the hacks here

[2017-12-03 11:52] AdolarB commented on #1
Hallo Friends,

here was a lot of action since my first question. You are heros :).

Just i will test it. Many thanks about your work.

Edit: sorry, mistake....

[2017-12-03 15:49] niladam opened #29 "Latest upgrade (0147) breaks the hack.."
Hello,

It appears that no matter what i try, upgrading to 0147 breaks the hack. No SSH, and no other services running either (using default midgard.ini);

The latest upgrade appears to be:

https://cdn.fds-ssl.api.xiaomi.com/miio_fw/356163bfddcfbf236804f90619553fdf_upd_mijia.camera.v1.bin?GalaxyAccessKeyId=5721718224520&Expires=1520091698000&Signature=CNQgzyUXhZN6TJwE3WAR9E4aKvQ=&uniqRequestId=67

[2017-12-03 15:52] niladam commented on #7
Hey @willthrom any news on this ?

[2017-12-03 16:07] willthrom commented on #7
that was resolved long time ago...

[2017-12-03 16:21] niladam commented on #7
Actually I was referring to your jffs2 discovery. Had the feeling this relates to my other issue, #29  :)

[2017-12-03 16:26] willthrom commented on #29
I haven´t tried myself if it is still working because I am not currently using. However I checked the firmware image and it seems ok.

Start the process again from the flashing, and upload the log somewhere so I can take a look
(For myself going back to 0.99 is a pain because the camera cannot find my wifi router in that version and I have set up an access point with the mobile)

[2017-12-03 16:44] willthrom commented on #29
I checked again and the version 147 is exactly the same as 146 (which was working with the tools) except the Xiaomi streamer and Nas.

So the tools should work without any problem...... It is true sometime for an unknown reason the tools got stuck in the upgrading process but normally starting the process again from 099 resolves the issue.

[2017-12-03 16:59] niladam commented on #29
I tried this multiple times. Everything goes well. Flash .99, can ssh. Triple reboots. Flash latest (currently 8 as per the releases page) ssh works, triple reboots. Everything works.

Upgrade to latest version. No more ssh.

The reboots are made using ssh AND unplugging the cable.

Do I need to go through the re-pair process everytime?

[2017-12-03 17:35] willthrom commented on #29
upload the logs from the log folder so we can take a look

[2017-12-03 17:38] willthrom commented on #29
when upgrading, do not change the original midgard.ini file...

[2017-12-03 17:54] niladam commented on #29
@willthrom - I haven't changed anything. The procedure that i followed is:

1. Reset the camera, unplugging it;
2. Put the SD card in my card reader (i'm on a macOS);
3. Copy the CONTENTS of release0.3_338.zip to the root of the SDcard.
4. Plug the SDcard into the camera.
5. Pair it.

Here, i already have ssh access. The only changes i'm doing are the root password.

6. Reboot 3 times (once via SS

[2017-12-04 15:49] niladam commented on #29
Alright -- so i attempted a NEW fresh reinstall, and i still cannot keep the hack.

I have attached the logs. Any hints/ideas ?

[Archive.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1527765/Archive.zip)

[2017-12-04 16:10] willthrom commented on #29
@niladam

In you case I can see this:

Jan  1 08:00:27 kernel: [   27.710000] FAT-fs (mmcblk0p1): error, clusters badly computed (11 != 10)
Jan  1 08:00:27 kernel: [   27.710000] FAT-fs (mmcblk0p1): Filesystem has been set read-only

That is the SDCARD.... going wrong for some motive.... You might need to format the SDCARD using the Xiaomi MiHome apk

for some reason I cannot see in your logs the

[2017-12-04 16:18] niladam commented on #29
Truth is, both cards were formatted using macOS' disk utility and/or diskutil..

I've just formatted the SD using Mihome app, and i'm trying again..

[2017-12-04 16:29] willthrom commented on #29
I might upgrade mine from the beginning again, but it would be more easier if someone could connect to the camera using the USB/Serial

[2017-12-04 16:33] niladam commented on #29
I'm using a USB cable to connect to the camera. Sadly, not a serial one.

I'm just running the update of the FW now, hopefully, this time it'll work and i'll be able to pinpoint this to the formatting of the SDCARD..

I'll update as i have more news..

[2017-12-04 16:35] willthrom commented on #29
@niladam but you get logs from the camera at boot time from the USB interface, right? I mean, did you open the camera and solder the TX-RX pins?
or you just mean you are connecting the camera to your computer to USB but just for charging?

[2017-12-04 16:38] niladam commented on #29
No, i'm not opening the camera at all. My electronics skill is probably -5 or something. I just used the remove/add the SD card.

It didn't work.

And now that you mention, was i supposed to solder the camera ?

[2017-12-04 16:42] willthrom commented on #29
no. only to do some debugging. That is fine, I will find someone

[2017-12-04 16:45] niladam commented on #29
Darn, again -- it didn't work.

Here's the latest batch of logs. I have no idea why you can't find any upgrade logs..

[Archive.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1527958/Archive.zip)

[2017-12-04 17:15] willthrom commented on #29
I can see in your logs at least the Firmware download and the flashing process whoever I don´t know why the Script POST and PRE OTA are not been called. Without them the tools will not work after upgrading....

[2017-12-04 18:02] willthrom commented on #29
I updated mine and the same thing happened.. it seems Xiaomi is commanding from the Server somehow to not call the PRE and POST OTA scripts.

The only solution for this is to start creating releases manually copying the binaries from the firmware.... A lot of work I am not going to maintain..

[2017-12-04 18:29] niladam commented on #29
Another idea is to spoof the URL. Basically if you can provide me with the working binary (139?) I can setup a hosting account answering to the requested URL. I could then make sure to redirect to the new IP bypassing the CC?

[2017-12-04 18:50] willthrom commented on #29
I think it is not a problem of what it is in the camera or what it is coming but the command Xiaomi Server requests when upgrading.

before 146 version, the OTA binary (in the .99) normally execute one script before running the OTA, and another after the OTA.

/mnt/data/miio_ota/post-ota.sh
/mnt/data/miio_ota/pre-ota.sh

for some reason, when the Server ask to upgrade the camera these script are n

[2017-12-04 19:18] niladam commented on #29
Well, if we could identify *WHEN* or *WHERE* the command happens, we could probably figure out a way to disable that -- wouldn't we ?

[2017-12-04 19:27] willthrom commented on #29
Well. not idea. It is very weird Xiaomi has changed how they command the upgrade, but so far it is the only explanation I have.

[2017-12-04 19:28] niladam commented on #29
Well, are we sure that post* and pre* scripts are still there after the flashing ? Any way i could know that ? Or find out ?

[2017-12-04 19:30] willthrom commented on #29
It doesn´t matter if they are not there after the upgrade, but during the upgrade.

I know there are there because the tools created them. The problem is they are not been called for some reason.... I haven´t found why yet.

When the camera is going to upgrade, pre-ota.sh is been called, and post-ota.sh after the upgrade.
None of them are been called when upgrading now.

[2017-12-04 19:45] niladam commented on #29
Can you provide me with the steps the hack takes so that i can attempt to debug myself ?

[2017-12-04 19:50] willthrom commented on #29
The tools have two different things:
- One is all the services
- The other is to prevent OTA to override the security measures.

The boot script is valhalla.sh, take a look to that.
The prevention of the OTA security is done with tools/post-ota.sh and inject.sh

[2017-12-09 19:24] powerwade opened #30 "New recovery file?"
Hi, as we all know since the latest upgrade the whole hack is broken, so I am wondering if it possible to manually generate a new tf_recovery.img file somehow from the available upgrade files? Or is there a recent recovery file that is not 0.99? I recently received my second unit, but unluckily it has version .140 so I have no other choice but downgrade to 0.99.

[2017-12-10 09:44] willthrom commented on #30
unfortunatelly the .img files are signed. Maybe there is a way but I haven´t found enough information about  it.
When I have time, I will prepare a new version of the tooling with an option to update the binary of the camera manually taken from the latest firmware.

Actually if you have time, you can take the latest fw. use binwalk to extract the binaries from the tffs2 partition and copy them to

[2017-12-10 09:44] #30 closed

[2017-12-10 21:32] powerwade commented on #30
Good idea, but it didn't work for me. I was able to get the files from the jffs2 partition and was able to overwrite everyhing on /mnt/data as suggested while I was on 099. But after reboot the camera says in Mi Home it's on version 139 (that one I tried, not the latest) and I lost ssh access. I might wait for your next version ;)

[2017-12-10 22:23] powerwade commented on #30
Thanks for the idea, it worked. I am on .147 with ssh access. I copied evertything from the jffs extract, but ft and miio_ota dirs.

[2017-12-12 21:37] ant-1 commented on #8
Hello guys !

It seems that Andreq succeeded to cross compile Gstreamer. Has anyone tried to use this RTSP server ?
Thanks !

[2017-12-19 19:07] NeoAcheron commented on #29
Hi everyone,

I can confirm niladam's camera behaviour with the 3.3.10_0147.

Once updated, it seems that the hack no longer takes effect. A strange behaviour is that the indicator LED gets stuck on orange, and no longer does the blue/orange flash sequence, or ever goes to blue. If you use the Xiaomi app to switch the light off and on again, the light goes to blue!

I'll investigate further to see

[2017-12-20 07:57] zadman7 commented on #29
HenkBezuidenhout: Happened to me to and this is the reason i came here for help.
The camera worked fine a week ago and after the last Firmware updated it does not connect and no reset is possible. Waiting for any kind of solution

[2017-12-22 04:04] padmanek commented on #29
Seems like it's game over for this camera for now.

[2017-12-22 08:45] willthrom commented on #29
Yep, The tools stop working after any new update because Xiaomi changed the update process somehow. When I have some free time after Christmas I will make a special version not using OTA but manual updates.

For now you can stick with version 99 and the tools

[2017-12-24 01:22] ferdydek commented on #29
Im not sure why my works, I actually re-flashed to 99 and repeated entire process and I'm using the 147 version with ssh access and im running the experimental webserver.
[code]
I have noticed that the hack works well only when both the log-1... files are present (so it has something to do with the correction of times made between 99 and 147 (they are created on different stages of "hack'ing":
[co

[2017-12-24 19:33] willthrom commented on #29
Check the log folder. The mtbp log...you should see the inject script been called. If it is not, then the upgrade will remove the tools....

[2017-12-24 21:55] ferdydek commented on #29
yup, its here.
Its I think 3rd time I went through this process and I never had the same issues as @niladam describes.
[code]

[2017-12-24 22:00] ferdydek commented on #29
What I have done each of these times is to go through entire process of reverting to _099 applying the hack, rebooting and then applying the firmware update. I also take my time, considering some things in the busybox run on 1 or 5 min cron I always take my time between actions and changes.
@niladam try again please and really take your time, follow the https://github.com/Filipowicz251/mijia-1080P

[2017-12-26 07:10] Alacika commented on #29
I did it as described by @ferdydek, and it works fine! Firmware version is now 3.3.10_0147 and i have ssh connection. Thank you very much and sorry for my poor english! :-)

[2017-12-26 12:48] ferdydek commented on #29
@Alacika glad this helped
@niladam so now, we only need to check if this works for you and then we can start figuring out what to improve in next release

[2017-12-28 09:33] tmp27017 commented on #29
after firmware update, no SSH, camera still orange

[2017-12-28 09:59] Alacika commented on #29
I think 13. (reboot from ssh) is a very important step. For the first time, I did not do a reboot, just pulled it out of the socket and plug back. The ssh lost after the firmware update. For the second time I did reboot from ssh command line and ssh access works after firmware update. (Sorry for my poor english!)

[2018-01-03 01:46] ferdydek commented on #29
@thomph can you upload somewhere the logs from the SD card please?
@Alacika nice feedback. I will actually try to "break" my install to spot which process does not complete. Maybe the weekend will be less busy :)

[2018-01-03 01:50] inggaro opened #31 "Remotely enable/disable motion detection"
Hi, I think it would be great to add a way to enable/disable motion detection, I want to link it to my alarm system and I just need a way to call a command (it would be great if supported by the internal web server).

Thanks!

[2018-01-07 12:55] Sh1n1x opened #32 "Latest update 0154 ssh not working"
Here is my latest log file

[code]

[2018-01-07 14:09] ferdydek commented on #32
Did you make a fresh install (flashed 0099, installed hack, updated to 0154) or you were previously on 0147 with working hack and updated to 0154 ?

[2018-01-07 16:13] Sh1n1x commented on #32
I have made a fresh install with flash of 0099, install hack and update to 0154.

[2018-01-07 16:30] willthrom commented on #31
No one is working in the webserver so you could do it with running a ssh command.

nvram is the command with the configuration in the NAND.
Take a look to nvram show.

when you figure out the exact command, you can execute it outsite.

[2018-01-07 16:30] #31 closed

[2018-01-07 16:32] willthrom commented on #29
I guess it might be with the permission of the OTA scripts.
Whenever I have some free time I will take a look again.

for the time bean I am closing this issue as it seems following @ferdydek very well documented steps the process works.

[2018-01-07 16:32] #29 closed

[2018-01-08 09:32] vija24 commented on #32
I was on 0147 hacked, and I have lost the hack (ssh Access) after update to 0154.
Any suggestions to recover the hack?

[2018-01-12 08:00] niladam commented on #29
@ferdydek i'll attempt this later today -- however, nothing seems different from what i initially attempted. The problem is, i am now on ***3.3.1_0154*** -- so hopefully it'll work.

@willthrom - i suggest you leave this open, as people coming to the issues screen might be able to see this first-hand (by default the closed issues are invisible -- you need to search/filter for them)

[2018-01-17 10:25] ferdydek commented on #32
@willthrom what do you recon we should do?

[2018-01-17 13:22] willthrom commented on #32
I haven´t had time to reproduce the issue but I would say to @vija24  to follow the procedure from the beginning, like you, @ferdydek , explain very accurate last time, meaning, reflashing to .99 and start over.

[2018-01-25 05:37] theDoc5655 opened #33 "the hack is deactivated when the camera is restarted"
I recently installed the latest version of the hack successfully but once the cam is restarted to be placed in its final location and its subsequent reboot, the change seems to have disappeared.

[2018-01-25 16:17] andreq commented on #33
https://github.com/Filipowicz251/mijia-1080P-hacks/issues/29

It's been there for a while. Try to search a bit before adding a new issue :(

[2018-01-31 23:02] ferdydek commented on #33
Also explained in:
https://github.com/Filipowicz251/mijia-1080P-hacks/wiki/Issues-installing-and-keeping-the-hack

[2018-01-31 23:02] #33 closed

[2018-01-31 23:03] ferdydek commented on #32
@Sh1n1x @vija24  can you pls comment back if you managed to get it sorted?

[2018-02-02 19:36] lenisko opened #34 "Fix - disable cloud services"
As I initially saw in fs aside from disabling services those have to be removed from `restartd.conf` file.
If no-one take care of it soon, I'll in free time.

[2018-02-02 19:38] lenisko opened #35 "Feature - Disable LED"
This can be done by running two commands on `ledctl ` tool (which is used by hack-script already), I think I would add it as an simple switch on PHP, it's here anyway so worth using.

[2018-02-02 19:41] lenisko opened #36 "Feature - Auto connect using WiFi configuration file on SD card"
No phone assistance would be needed.
Simply check if there's change in `wpa_supplicant.conf` file on SD card (it's not yet there) if so just use this config and don't parse nvram things

I'll make it myself soon if no-one else pushes it.

[2018-02-02 22:54] willthrom commented on #34
It is already in the script valhalla.sh using the options.. But feel free to add it somewhere else

[2018-02-02 22:55] lenisko commented on #34
@willthrom it's commented as not working I think

Check https://github.com/Filipowicz251/mijia-1080P-hacks/blob/master/sdcard/valhalla.sh#L245-L268 and https://github.com/Filipowicz251/mijia-1080P-hacks/blob/master/sdcard/valhalla.sh#L193-L203

[2018-02-02 22:56] willthrom commented on #35
Normally you can disable it using the Xiaomi App. Or just disable in the script.

I cannot remember who did it, but in the latest release I included the light web server (I think). If not, it should be in someone's fork on this project

[2018-02-02 22:58] lenisko commented on #35
@willthrom normally ;-) I wish to disable cloud and app though so... https://github.com/Filipowicz251/mijia-1080P-hacks/blob/master/sdcard/tools/www/index.php there's PHP index file in this repo, I was thinking about adding api.php endpoint with this things like that.

[2018-02-02 22:59] willthrom commented on #36
This was one of the old task I wanted to add.. Just lack of time.

Feel free to add it or just include it as an option in the midgard.ini to not have to many config files

[2018-02-02 23:02] willthrom commented on #34
It is true... Something was happening there I cannot remember now.  The problem was related to some  Xiaomi services been dependent to initialize the camera... Lack of time

[2018-02-02 23:04] lenisko commented on #34
@willthrom hmm.. maybe `S93miio_client`, I'm not sure yet what is switching night mode vs daily. Maybe you know?

[2018-02-03 08:30] willthrom commented on #34
The switching is done automatically as far as I remember however you can disable it.

Nvram

[2018-02-03 08:31] willthrom commented on #35
Sure. Add it, I am sure it will be found useful

[2018-02-05 23:16] GreyEarl commented on #35
Is this the correct way to disable the blue led? `/mnt/data/miot/ledctl 0 0 0 0 0 2`
It does turn off, but wanted to check if this is the proper manner. Thanks!

Edit: after a short while it turns back on again.

[2018-02-06 13:30] lenisko commented on #35
@GreyEarl
[code]

and experiment with that ;-)

[2018-02-06 17:07] willthrom commented on #35
cmd: 0, 1 or 2 is the important.

Off, ON, BLINK

[2018-02-07 13:34] GreyEarl commented on #35
Thanks! Now I know what cmd is for :)

[2018-02-13 10:00] rmacian commented on #36
Could this help  me to connect to my 5Ghz wifi ? I can connect to 2.4Ghz on my Asus AC-68 Router but not to the 5ghz band

[2018-02-13 15:10] BrendonKoz commented on #36
No, this is to help the camera to **remember** its WiFi settings. If it can't natively connect to (1)your router, or (2)a certain WiFi frequency, this fix won't help with that.

[2018-02-16 04:44] GreyEarl commented on #35
For some reason the led never stays off when I block internet access. Also when using the app to disable the led.

[2018-02-20 23:51] rcmpayne opened #37 "QQ: Can you revert to stock firmware"
I want to test your firmware however, can one revert the mijia back to stock firmware? if so any steps

[2018-02-21 20:28] BrendonKoz commented on #37
The project's Wiki has the answer to that (and explains how):
https://github.com/Filipowicz251/mijia-1080P-hacks/wiki/Recovery---Debrick

That should get you back to a 100% OEM-based install. As with anything that modifies firmware, it's not suggested to try this if you absolutely cannot be without the device as oddities can arise.

[2018-02-22 12:33] #37 closed

[2018-02-26 15:49] sagilo opened #38 "Artifacts while playing RTSP stream when objects are moving"
It happens pretty much constantly when objects are moving, impossible to ignore.
Maybe some kind of tuning is required for the RTSP lib?

[2018-02-26 16:12] willthrom commented on #38
disable XIAOMI streamer in the midgard.ini file

Two streamers at the same time doesn´t work

[2018-02-26 16:13] sagilo commented on #38
Thank you @willthrom
Are you relating to the [this file](https://github.com/Filipowicz251/mijia-1080P-hacks/blob/master/sdcard/midgard.ini) ?
I don't see any option for Xiaomi Streamer there.

[2018-02-26 16:19] willthrom commented on #38
????

## Streaming with Xioami Servers (0,1). Can be used with CLOUD_ENABLED to be able to manage the camera but not streaming outside your network.
CLOUD_STREAMING_DISABLED=0

[2018-02-26 16:20] sagilo commented on #38
@willthrom It's already set to 0, but this feature is currently not working, see: https://github.com/Filipowicz251/mijia-1080P-hacks/issues/34

[2018-02-26 17:08] willthrom commented on #38
CLOUD_STREAMING_DISABLED=**1**

[2018-02-26 17:50] #38 closed

[2018-02-26 17:57] sagilo commented on #38
@willthrom I meant 1 as disabled, just got confused when writing the comment.
This doesn't help, artifacts still exist.
I really appreciate the work you put into this,  but IMHO I think you should let people a little bit more time to response :)

[2018-02-26 18:18] willthrom commented on #38
CLOUD_ENABLED is a different option which is not 100% working.
CLOUD_STREAMING_DISABLED needs to be set to true to DISABLE the CLOUD Streaming.

RTSP doesn´t have more option for basic users and if doesn´t work it would be a connectivity issue.

For more advance user who knows what they are doing:

#### BITRATEMODE
#	 1  Constant Bitrate
#        2  Variable Bitrate
#        3  Enhanced Constant B

[2018-02-26 18:20] sagilo commented on #38
Does the camera support 4096b?
What happens with the different bitratemodes, are they all supported?

[2018-02-26 20:58] sagilo opened #39 "Artifacts while playing RTSP stream when objects are moving (xiaomi stream disabled)"
Here is the `midgard.ini` file contents:
[code]
I **can** still use the MiHome app to view my camera
RTSP is working but artifacts appear when objects are moving.
Artifacts appear on **local** NAS server recordings and on MiHome app stream, this is 100% not a connectivity issue.
Another IP camera (Xiaomi Yi Ants) is working perfectly and recording with no artifacts to the same server over the same

[2018-02-26 21:12] #39 closed

[2018-02-27 21:24] sagilo commented on #32
I can confirm it here too.
Flashing the `tf_recovery.img` works and downgrades back to 0099.
SSH and RTSP works perfectly, so is the app stream being disabled.

However, as I upgrade to 0154 the hack can no longer be applied.

I've tried multiple times the whole procedure:
1. Flashing 0099
2. Installing the latest hack
3. Try accessing SSH / RTSP (works)
4. Upgrading to 0154
5. SSH/ RTSP not worki

[2018-02-28 07:14] Sh1n1x commented on #32
@sagilo for me nothing is working for the moment, this camera isn't hacked :/

[2018-02-28 07:19] sagilo commented on #32
Thank you @Sh1n1x, I use the hack with version 0099 for now.. hopefully it will be fixed and I'll be able to upgrade my camera firmware

[2018-02-28 14:32] ddtmax commented on #32
not works

[2018-03-02 10:54] mixpc opened #40 "Xiaomi Mijia 1080P Smart IP Camera as Network Camera?"
Hello,

This may be a newbie question but... can the Xiaomi Mijia 1080P Smart IP Camera be configured/firmware updated/hacked to work as Network Camera? The goal would be using it as a network camera (eg. http://192.168.1.5:80) that opensource software can have access to.

As of now with Xiaomi Mijia propietary latest firmware 3.3.10_0154 the camera can only be accessed via propietary Mi Home Andr

[2018-03-05 21:10] willthrom commented on #40
Better to ask this question in the forum: https://gitter.im/fang-hacks/Mijia-1080P

regarding the Streaming.. that is the purpose of this tool projects.

[2018-03-05 21:10] #40 closed

[2018-03-09 13:28] tesnic opened #41 "Change the default RTSP port"
Hi guys!! Good hack, i use it to my synology surveillance station. I have two xiaomi cameras, but i cant configure both with de same 554 RTSP port. How can i change the default port???

Thanks!!

[2018-03-09 16:30] willthrom commented on #41
Just use port forwarding in your router.... so from out site you can have port A pointing to cameraA IP_A Port:554 and Port B pointing to CameraB IP Port:554

[2018-03-09 16:30] #41 closed

[2018-03-09 16:32] willthrom commented on #32
When somoone with an UART-Serial adaptor open its camera and read the logs I will be able to resolve this issue.

(I tried with mine but my soldering iron was in a very bad state and the result was the Tx Pin pulled out. Not I cannot read the logs any more)

[2018-03-11 07:23] ddtmax commented on #32
solutions?

[2018-03-27 00:25] cookins opened #42 "Have troubles to install hack patch"
i have issue with non working RTSP i think.
here what i doing -
i copied files and dirs from dir that inside zip release. also i copied there img file.
![hack](https://user-images.githubusercontent.com/7893051/37939775-726cbcfe-316d-11e8-9691-a1c069fdde2e.png)
turned on device it was busy with yellow led blinking about minute. then it just shut off (at least led stop blinking). i waited for 1 minu

[2018-03-27 18:42] cookins commented on #42
Update:
installed 0.85 version http seems working now and can see SSH server either.
but not RTSP! here log from sdcard
[log-197001010800.log](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1853320/log-197001010800.log)
[log-Wifi-197001010800.log](https://github.com/Filipowicz251/mijia-1080P-hacks/files/1853321/log-Wifi-197001010800.log)
same RTSP log empty.

[2018-03-28 09:30] willthrom commented on #42
update to 0.8.6.  it resolved an issue with RTSP

[2018-03-28 09:30] #42 closed

[2018-03-28 09:33] sagilo commented on #32
Any suggestions ? this is still relevant for firmware 0158 with latest version (0.8.6)

[2018-03-28 09:41] willthrom commented on #32
just try over downgrading to 99 with 0.8.6.

In any case, the steps are just.. downgrade to 99. with the latest release, test SSH there (or check if the camera led blinks orange/blue for 5s at boot time)
then upgrade to latest version
check SSH again
and then change MIDGARD.ini to enable RTSP

[2018-03-28 09:41] #32 closed

[2018-03-28 09:44] sagilo commented on #32
Tried that more than 10 times, this doesn't work.
More users reproted the same over the chat.
I guess this isn't going to be fixed.
Thank you for your efforts

[2018-03-28 09:53] willthrom commented on #32
what is not working?
Is ssh working when downgrading to 99?
Is ssh working when upgrading to 158?

Try with downgrading to 99 and upgrading to 158 with 0.8.5

[2018-03-30 22:48] passie opened #43 "Not working with 0.8.6"
starting from the latest official release:

After downloading all the files from 0.8.6 the camera starts blinking the orange light.
Waiting a couple of minutes and the the led goed to off.
I'm unable to use the RTSP feature supported by this branch.
is there any complete how-to document starting from scratch, how-to use RTSP on this device ?

[2018-04-08 18:05] naoisegolden commented on #43
Seems to be working fine in 0.8.7

[2018-04-08 18:35] willthrom commented on #43
0.8.7 latest release fixed all the pending issues regarding Upgrading and RTSP

[2018-04-08 18:35] #43 closed

[2018-05-04 00:29] rcmpayne opened #44 "SAMBA_ENABLED and HTTP_ENABLED"
just to confirm, HTTP_ENABLED=1 and SAMBA_ENABLED=1 means thoes services are enabled right? i tried to enable both of these services but i cant SMB to them nor can i connect to them using http.

RTSP is working just fine.

`VERSION_ID=2016.02-git
PRETTY_NAME="Buildroot 2016.02-git"
XIAOMI_VERSION=3.4.2_0159
XIAOMI_BUILDNO=458
Forcing Mode 4
 Staring SSH Server
 Getting root access
Changing passwor

[2018-05-07 05:51] uavana opened #45 "RTSP with 720p channel"
like rtsp://CAMERA_IP/live/ch01_0  for 720p stream?
sometimes 1080p is too big, and currently basic_rtsp can't support 720p parem

[2018-05-07 06:22] willthrom commented on #45
did you give a change to the config file midgard.ini?
There you should be able to change the resolution. (I personally haven´t tried but I added the parameters to change it..)

[2018-05-07 06:25] willthrom commented on #44
Never tried, someone compile the package for this platform and I maintain them in the tooling.
It suppose to work, they were....

HTTPS server is only a light-weight server to change parameters, but was never developed enough for all the possible parameters in the camera.

According to the logs seems to be a problem with the password for Samba.. give it a tried to the configuration files of samba

[2018-05-07 06:27] willthrom commented on #36
The camera connect to 5Ghz without any problem, but just try  different channels.

I added the option in the midgard.ini files for the WIFI parameters, but haven´t implement the logic.
it is just calling nvram command to set them.... no time now, but feel free to implement it .

[2018-05-10 00:48] uavana commented on #45
i have tried to change resolution in midgard.ini rtspd_basic cannot startup properly, then i execute rtspd_basic through ssh manually, it warned cannot scale down to 1280x720

[2018-05-15 08:15] AlfaBravoX opened #46 "FW 159 does not work"
Hi,

it looks with FW 159 the stream is not working with SD card inserted with 0.8.7 version. Even local streaming says camera not detected. When removing SD all works again.

# tail miio_client.log -n100
[19700101 01:00:24] [INFO] OT agent listen fd: 5
[19700101 01:00:24] [INFO] BT conn listen fd: 6
[19700101 01:00:24] [INFO] Timer fd: 7, interval: 5000 ms
[19700101 01:00:24] [INFO] Sync timer fd

[2018-05-15 16:11] willthrom commented on #46
According to your logs everything is working...

XIAOMI_VERSION=3.4.2_0159

If you see that logs, then it means the tools are been loaded.

Besides noone has reported an issue with 159 in the last two months.

Review your installation or try again from 99

[2018-05-15 16:47] AlfaBravoX commented on #46
I did a couple of times revert to 99 already, but as soon as I upgrade firmware to 159 all stops. There are already plenty of messages in the chat about not working tools with 159FW

[2018-05-15 17:23] willthrom commented on #46
disables these two
HTTP_ENABLED=1
SAMBA_ENABLED=1

and try again....

[2018-05-15 17:32] AlfaBravoX commented on #46
OK I did:
HTTP_ENABLED=0
SAMBA_ENABLED=0

same result. also it looks 159 kills ssh server. i cannot connect to ssh anymore after upgrade.

so ping works:
ping 192.168.4.41
PING 192.168.4.41 (192.168.4.41): 56 data bytes
64 bytes from 192.168.4.41: icmp_seq=0 ttl=64 time=18.620 ms
64 bytes from 192.168.4.41: icmp_seq=1 ttl=64 time=13.274 ms

SSH:

ssh root@192.168.4.41
ssh: connect to host 192.168.

[2018-05-15 19:35] willthrom commented on #46
try to reset the password to the original one in the release or choose a complex one...

[2018-05-15 21:05] AlfaBravoX commented on #46
ok, so original passwd change made this work again. i had quite difficult numeric long passwd, so i was assuming this does not mind. it also works after the upgrade. thanks for help..

[2018-05-16 13:29] AlfaBravoX commented on #45
also interested... 1080p is too big. I tried to find out how big is the LOW resolution stream in the original app. but so far i was not able to find it anywhere. when i have it i will try to set in midgard to see if I get low resolution in RTSP. BTW is the RTSP protocol passing resolution information to client? i can try to record pcap file in the router and decode it to get this info.

[2018-05-16 14:49] zkornz opened #47 "Not able to stream with Firmware 0159"
The hack was worked with blink led (Blue & Orange) Although I already set Enabled RTSP but I am still not watching RTSP streaming from VLC.  It's what I did for watching camera's IP is in MIWIFI application then I am using url like : rtsp://CAMERA_IP/live/ch00_0

I am able to SSH with new password
Log fie :

Running Customm Script v1.8

Configuration:
  CLOUD_DISABLED=0
  CLOUD_STREAMING_DISABLED=

[2018-05-16 16:46] willthrom commented on #46
it shouldn´t matter, but I guess the SSH server I used does´t support some lengths and characters...

[2018-05-16 16:46] #46 closed

[2018-05-16 16:48] willthrom commented on #47
this is weird:

upload your midgard.ini file...

[2018-05-17 00:12] zkornz commented on #47
@willthrom What should I edit in midgard.ini since I didn't do anything except enabling RTSP streaming. Thanks a lot.

[2018-05-17 16:08] willthrom commented on #47
are you sure you are using the latest version "0.8.7 RTSP working back (Tested)"?

this release is working for a lot of people.

edit midgard.ini and remove anything after ##  it seems to have some conflict in your boot

[2018-05-18 20:20] passie commented on #43
With 0.8.7 I have the same problem.
Downloaded the latest rerelease with tf_recovery.img led start blinking orange.
After successful connecting the app it seems it's already at the latest version and i'm unable to use ssh or RTSP.
Any advice ?

[2018-05-19 05:32] willthrom commented on #43
try again with tf_recovery.img (download it again) then check what version you are running. it should be .99

[2018-05-19 07:28] willthrom commented on #45
I took a look to the RTSP server code and some changes are required to support different resolutions.
One day I might have time (not soon). If someone wants to try, let me know and I will forward the code if it is not already in this project.

New streams are required to be implemented ( one 50% )
New pulls, and new writes.

[2018-05-19 08:18] ghoost82 commented on #45
As I think this would be a great addition to my [mijia-720p-hack](https://github.com/ghoost82/mijia-720p-hack) project I would like to try to implement this.

[2018-06-05 02:26] carlchan commented on #36
just found this repo.  any hint on the nvram commands I should look at so I can try?

[2018-06-05 16:19] willthrom commented on #47
closed because inactivity and tested myself the latest Xiaomi version and it is working

[2018-06-05 16:19] #47 closed

[2018-06-06 08:01] pedroke opened #49 "New feature? Disable recording"
Hi guys,
thanks for great job you've done!
I just managed to install the hack. I was just wondering.. is there a possibility to disable automatic recording when SD card is inserted? As long as camera would be used without xiaomi services with RTSP in local network, such recording does not make much sense and additionally the SD card might be worn out soon.. Is such feature even possible, or is it

[2018-06-13 07:09] corrpel opened #50 "CURL and inotifywait - feature request"
Hi,
Is it possible to add CURL and inotifywait to /bin?
Having this will add a lot of value to this camera, because we can send the video to dropbox or telegram for example.
Right now i am doing it using the camera and a raspberry pi as network storage.
For every new file sent to samba share, the file is sent to my telegram number and uploaded to my dropbox account, and it would be awesome if ther

[2018-06-16 22:37] sangregoriopaolo opened #51 "Add audio to RTSP stream"
Hi,

Would it be possible to add audio support to the RTSP stream? Was that ever explored?

[2018-07-15 03:18] 350d opened #52 "Image Quality"
I have latest hack version with default settings (with `HTTP_ENABLED=0`) and this image quality:
![glancecam_cam3_2018-07-14_23-16-47](https://user-images.githubusercontent.com/429208/42730177-3410397c-87bc-11e8-8a63-21e2aadd9e2b.png)
Same lines/glitches with daylight conditions.
`Mi Home` has no live view and stuck on `Preparing to connect...1%`. I've tried on recovery FW version and with update

[2018-07-30 11:38] ich008 commented on #52
You should disable cloud streaming when enabling RTSP. The Cam cant handle two streams (it was something like bug that this sometimes worked in version 158)

[2018-08-03 17:58] Unclezz opened #53 "CHUANGMI 720p"
Hi there,
any chance to have this working on CHUANGMI 720P? This is using same chipset as mijia 720 I think: GM8135.

Thanks

[2018-08-04 06:56] Unclezz commented on #53
Is anybody willing to help to get also ChuangMi on customer firmware?
@Filipowicz251 any chance you have time to help? :) This is also running on GM1835S.

![photo_2018-08-04_08-54-51](https://user-images.githubusercontent.com/42074421/43673486-21ee32ae-97c4-11e8-8499-4a0cfa7ee937.jpg)
![photo_2018-08-04_08-55-04](https://user-images.githubusercontent.com/42074421/43673512-a772180a-97c4-11e8-94f8-

[2018-08-09 17:12] bgeneto commented on #12
I would love this feature as well because Domoticz only have support for http (or https) still images. In other hacks, like fang-hacks, this feature is relative easy to implement but with this present hack for mijia  I'm completely lost... Any tips? I see that there is an option to turn on http server, just don't know how to generate jpg still images every second.

[2018-08-09 21:01] Unclezz commented on #53
Apparently this camera does not have a serial to use in order to access u-boot.
I suggest not to buy it.

[2018-08-10 08:06] willthrom commented on #53
What about thos Q-Tx and Q-Rx?

[2018-08-10 08:20] Unclezz commented on #53
Unfortunately there is no output from there.
I tried connecting to both Q-RX/Q-TX and 2-RX/2-TX that is on the left lower corner. Simply no output.
On USB/UART connector LEDs are not even blinking.
I took some photos of what I connected:

![photo_2018-08-10_10-19-01](https://user-images.githubusercontent.com/42074421/43946928-efb2c9b8-9c86-11e8-999d-e6fc4e045197.jpg)
![photo_2018-08-10_10-19-06](h

[2018-08-10 08:26] willthrom commented on #53
That is odd..

[2018-08-10 08:28] Unclezz commented on #53
@willthrom well, what can I say? I agree. The only doubt I had was about the USB Adapter. I tried one with cp210x and another one with CH341. On both the result is the same... should I use something different?

P.S.: I am total newbie on this stuff!

[2018-08-10 08:32] willthrom commented on #53
I guess you tried the other way. Rx -> TX , Tx -> Rx.
I used a very old UART USB Adarpter and I didn't have any problem.

Keep in mind you might need to restart the camera to get any TX input....

[2018-08-10 08:33] Unclezz commented on #53
Yes, yes.
Connections were RX to TX and TX to RX, but I even tried swapping the cables without any good result.
Of course I did restart the camera to check for data to flow.

[2018-08-10 08:41] willthrom commented on #53
Can you check with a voltage meter the GND with the TX?  I see 3 GND....

[2018-08-10 08:47] Unclezz commented on #53
GND + TX --> 3.3V
GND + RX --> ~3V

On both outputs (0-RX. 0TX and 2-RX, 2-TX)

[2018-08-10 08:49] Unclezz commented on #53
Correction... on the 0-RX and 0-TX I have both 3.3V
On 2-RX --> ~3V and on 2-TX --> 3.3V

[2018-08-10 10:39] Unclezz commented on #53
BTW, GND (I think is normal) are all the same. There is continuity between them.

[2018-08-10 20:11] nikosillo opened #54 "Firmware 160"
There is a new firmware update, 160. There are people who say that from that version they can not downgrade the 099 to apply the hack, just in case it's better not to try to update the camera directly.

The hack works with the new firmware 160 but to update it, it's convenient to first downgrade to 099 (renaming the file tf_recovery.img.bak to tf_recovery.img and restarting for the downgrade) and

[2018-08-23 23:10] jymbob commented on #53
Others have had some success with this camera. It started with an [issue raised on FangHacks](https://github.com/samtap/fang-hacks/issues/235), then someone managed to get telnet working from a custom image (now hosted [here](https://github.com/jymbob/fang-hacks) with loose instructions.

There's a new claim that the RTSP server from [here](https://github.com/ghoost82/mijia-720p-hack) works, but I

[2018-09-01 20:47] lars-sorensen commented on #52
I also experience this bad quality - and I have CLOUD_STREAMING_DISABLED=1

[2018-09-03 21:13] jymbob commented on #53
I can confirm that the Mijia 720P firmware works. I've put together a repo with instructions:
https://github.com/jymbob/chuangmi-720-hack

Note I'm not the author of any of the code, just collating it into a working package

[2018-09-04 18:16] vitoo opened #55 "Hack for the new camera"
Hello,

here is a new xiaomi camera
it's kind of a mijia-1080P basic / mijia V3 - with a white back.

![image](https://user-images.githubusercontent.com/995694/45049400-c9095500-b07e-11e8-850c-295aca4e3e51.png)

How can we build a firmware compatible for this camera ?
Is it hard ?

Thanks for your help

[2018-09-05 08:43] llimz commented on #55
I'm also very interested by this topic. I can't get an old version anymore.

[2018-09-05 16:51] bluedoggy731 opened #56 "Video Recording Format"
It appears I'm having trouble viewing the recorded videos.
The first frame shows up fine, but the rest of the video is garbled and becomes pink/green.
I've used MPC, VLC, Potsplayer with and without the K-lite Codec Pack and the issue is still the same.
Tried a few online video fixers but none of them work.

Is anyone experiencing the same issue?

[2018-09-07 15:21] gbarral commented on #55
Same problem for me.
Impossible to downgrade firmware on my mijia with white back.

Thx for help :-)

[2018-09-07 17:58] krettek opened #57 "rtsp stream extremely laggin"
Hi there,

thanks for the hack, but unfortunately for me it's nearly not usable.
The rtsp stream is extremely lagging. Sometimes I get just one picture every few seconds.
I have disabled cloud streaming etc. and tried to reduce FPS to 10. Resolution can't be reduced, cause this will crash the rtsp server.
Wifi connection is also stable, router is located nearby.

Any ideas what's wrong, or do have

[2018-09-11 10:49] jnsw commented on #55
see https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/issues/624

they are still trying

[2018-09-11 12:57] vitoo commented on #55
It may takes months :smiley:

It's a cheap camera many hacker will try it

[2018-09-12 00:00] jnsw commented on #55
@vitoo hopefully 😃

[2018-09-13 11:14] Snotmann commented on #55
You can downgrade the cam with https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/files/2320611/tf_recovery.for.SXJ02ZM.All.White.Xiaomi.1080P.smart.cam.zip and these files on root of sd card https://github.com/Filipowicz251/mijia-1080P-hacks/releases/download/0.8.7/release0.8.7.zip

... but there was no ssh server launched or something like that ... dont know whats happen or to do

[2018-09-13 11:22] jnsw commented on #55
@Snotmann the 0.8.7 was released in March, so I don't think it will work with the all new full white camera

[2018-09-13 15:13] willthrom commented on #55
@Snotmann  @seewaldjan  it will not work basically because the recovery of the V3 is already patched with the security flaws I found a year ago.

What you could do it to try to use the tf_recovery from the V2 and check if the camera starts.

The camera sensor might not work BUT if you can go to Mi App and upgrade the camera from there to whatever version is the latest for the V3, then there is a p

[2018-09-13 16:59] willthrom commented on #55
Forget it... it seems the architecture is different.. I need to take a look but it seems so:

V3:
DECIMAL HEXADECIMAL DESCRIPTION
0 0x0 uImage header, header size: 64 bytes, header CRC: 0x3E8652CA, created: 2018-06-30 07:40:51, image size: 2240049 bytes, Data Address: 0x80010000, Entry Point: 0x80380060, data CRC: 0x6BAB1A28, OS: Linux, CPU: MIPS, image type: OS Kernel Image, compression type: gzi

[2018-09-15 01:27] CooleRnax commented on #57
+1

[2018-09-15 01:46] CooleRnax commented on #57
keeping 99 firmware gives much better performance

[2018-09-22 13:03] gregou2007 commented on #55
hello Any news ? the V3 is still no hackable to get a rtsp flow or to view the camera with a computer ?

[2018-09-23 13:04] rzhukov commented on #54
I have another issue with 160. I'm able to downgrade from it to 099, able install hacks, but after upgrade hacks don't work.

[2018-10-01 09:58] jaaperror commented on #55
Also hoping for updates. Hope there is something I can do to help

[2018-10-04 08:34] Maxmudjon opened #58 "Local Streaming config 720p"
I can lower the resolution of the stream to 1280x720?
CONFIG_LINE=-b1600 -f20 -w1280 -h720 -m1

[2018-10-04 14:32] liaanvdm commented on #55
Has anyone tried this approach on these V3 camera's?

[https://github.com/miguelangel-nubla/videoP2Proxy](https://github.com/miguelangel-nubla/videoP2Proxy)

[2018-10-07 11:24] gregou2007 commented on #55
not tried but i don't really understand how to make it work on a macbook ?

[2018-10-14 19:43] ninoz commented on #54
I cant seem to get the 099 firmware loaded.

I load the tf_recovery.img into the root of the SD card, insert it into the camera and connect the USB power.  The device then boots up within 20 seconds I have the blue LED, when I check the SD card it's renamed the recovery file to tf_recovery.img.bk and the version is still 3.4.2_0160, no SSH/RTSP available.

I'm not sure which version of the camera

[2018-10-17 11:45] hmajed commented on #55
The v3 contains validation based on RSA

try_ft_mode()
{
	if [ -f $ft_files_zip ] && [ -f $sd_mountdir/ft/secret.bin ];then
		mkdir -p $ft_running_dir
		$ft_decrypt $sd_mountdir/ft/secret.bin $ft_running_dir/md5.sum $ft_securekey_file
		if md5sum -cs $ft_running_dir/md5.sum;then
			unzip $ft_files_zip -q -d $ft_running_dir
			chmod -R 755 $ft_running_dir
			ft_mode=`cat /proc/ft_mode`
			if [ "$ft

[2018-10-17 22:49] matisaul commented on #54
I have the same model, I can do the downgrade, but isn't installing the hack.

Any solutions?

[2018-10-18 00:08] matisaul commented on #52
I have the same issue, with version 99, and CLOUD_STREAMING_DISABLED=1

[2018-10-23 02:26] gugadandrea commented on #23
How do I flash this firmware? Same problem here, right after I opened the box, I installed the camera, it updated and got stuck in the orange light. Should I copy just the image or all the content of the ZIP file?

[2018-10-30 07:30] gbarral commented on #55
Hi, i try this [tf_recovery.img](https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/files/2320611/tf_recovery.for.SXJ02ZM.All.White.Xiaomi.1080P.smart.cam.zip) whith the hack https://github.com/Filipowicz251/mijia-1080P-hacks. The tf_recovery seems to work because the camera downgrade (3.4.4_0039) but the Tools is not installed. Impossible to connect using SSH. I can update 3.4.5_0046 whith mi-ho

[2018-11-03 20:01] joelhaasnoot commented on #55
This doesn't work unfortunately, the camera doesn't respond to the "get_ipcprop" command that's needed to get the stream running

[2018-11-12 17:37] sendorm commented on #54
I have also tried installing the tools. The device model is also SXJ01ZM. I put the `tf_recovery.img` in a fat32 32GB drive. I was able to downgrade to 099. But the tools are not installed.

[2018-11-12 18:24] sendorm commented on #54
I have the same device SXJ01ZM. I was able to downgrade to 099 and install the hacks. The RTSP stream was working. Than I Upgraded to 160 and SSH and RTSP is not working anymore.

[2018-12-06 16:03] mgx0 commented on #55
any news on this?

[2018-12-06 17:05] thachnb85 commented on #55
Maybe no. Any idea where to start with this camera, trying to flash other fw won't work.

[2018-12-06 17:45] Sender76 commented on #55
Russian
Hello!
That is, you want to say that none of the methods work.
And you can remotely view the camera Mijia 1080 only with the application
MiHome ???😕

чт, 6 дек. 2018 г. в 20:05, Thach Nguyen <notifications@github.com>:

--
С Уважением,
Генеральный директор
ООО "Центральный Регион"
Парамонов Сергей
Александрович
e-mail: paraserge@gmail.com
mob: +7(903)755-79-50

[2018-12-06 20:09] thachnb85 commented on #55
Yes, it works with Mi Home.
Set Region to Main Land China, start pairing to any 2.4Ghz wifi and it should work.

[2018-12-06 20:15] Sender76 commented on #55
I can not understand one thing, so how can I hack this seemingly simple camera ... (((

Sergei Paramonov
paraserge@gmail.com

четверг, 6 декабря 2018 г., 23:09 +0300 от notifications@github.com  <notifications@github.com>:

[2018-12-06 20:18] mgx0 commented on #55
I want RTSP and I don't want any cloud service. Looks like I have a camera for sale now ... it speaks chinese, does not allow you to set your own country and is useless without cloud service where god knows who is watching your streams. thanks a lot, it's for sale

[2018-12-06 22:48] Knuppel1983 commented on #55
Same here. Hack does not work with the new model. I’m not leaving it on cloud service because the camera is in my living room. Wanted to use it to watch the dogs, but the idea of someone else watching my family is enough to leave it unplugged. Shame Xiaomi does not add local support.

[2018-12-07 10:48] Knuppel1983 commented on #55
For reference, i have the snowman version with white back, 1080p PTZ.

[2018-12-07 14:53] Sender76 commented on #55
I would be very grateful if you would share!!! 07.12.2018, 13: 48, "Knuppel1983" <notifications@github.com>:For reference, i have the snowman version with white back, 1080p PTZ.—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.  --  

[2018-12-12 10:21] axlerose commented on #55
there is any news?

[2018-12-14 10:17] anmaped commented on #55
It is working with openfang; check it out in [openfang](https://github.com/anmaped/openfang). A modified bootloader was compiled for this purpose but we need to open the camera and program it manually. We will check if we can surpass some protection to upload the new firmware.

[2018-12-14 10:50] mgx0 commented on #55
I have no problem to program the camera via serial

two questions:
- do you have some pictures how to open the camera without breaking it please?
- could you please paste here a link to a file to be programmed to camera please?

thanks

[2018-12-28 17:36] niighthawk opened #59 "Audio and microphone ?"
any plan to get Audio or microphone working ?

[2018-12-28 19:48] stonek1 opened #60 "FW 3.4.6_0167"
It is not possible to connect the camera from the Mi home app and the camera is not recording any video after update to the last firmware 3.4.6_0167. It is possible to connect via SSH and the web interface is also working, so the hack is working somehow. But it seems it blocks video recording and the app connecting. Any chance to get a fix? Thanks.

[2018-12-29 11:10] nikosillo commented on #60
Reinstall the hack again with the firmware downgraded to version 0.99, but instead of using the current hack version, use version 0.8.5. Verify that the ssh and rtsp connection works (configure it in the midgar.ini file) and then open MiHome and update the firmware. Once the camera has been updated and restarted, connect by ssh and replace the files of version 0.8.5 with those of version 0.8.7 (ex

[2018-12-30 20:57] naoisegolden commented on #60
The opposite happened to me. Connecting through ssh stops working after the 3.4.6_0167 firmware upgrade.

[2018-12-30 21:03] Little-Johnny commented on #60
I have been able to upgrade to 0.8.7 but the frame rate is terribly slow. Only getting 0.3 frames per second Another issue I have is once I make a Wi-Fi connection using the Mi Home app, the app no longer sees the device .... there is no way to take ian upgrade via the Mi Home app ....any ideas?

[2018-12-30 21:34] naoisegolden commented on #60
The latest release ([0.8.7](https://github.com/Filipowicz251/mijia-1080P-hacks/releases/tag/0.8.7)) states only that "Upgrading to 158 should be safe now", so I guess 0167 is not supported yet and that explains the issue.

[2019-01-01 03:24] axlerose commented on #55
any news?

[2019-01-05 14:19] marcotuna commented on #55
I opened mine today. How to connect to the PC? Via an USB to UART? What are the pinouts?

![img_20190105_141255](https://user-images.githubusercontent.com/6924105/50725395-db5ed280-10f4-11e9-8630-9c0e3854cab0.jpg)

![img_20190105_144301](https://user-images.githubusercontent.com/6924105/50725654-83c26600-10f8-11e9-93ad-4788e43ffd2d.jpg)

I found this manual:
https://www.winbond.com/resource-files/

[2019-01-06 19:01] anmaped commented on #55
Please check more information at https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/issues/624#issuecomment-451488962

[2019-01-07 07:45] axlerose commented on #55
@anmaped can you explain how to make it working whit openfang

[2019-01-08 19:58] anmaped commented on #55
@axlerose I have written the new bootloader directly to the flash. As soon as I have the device again I will check if we can upload the new bootloader in another way.

[2019-01-08 20:12] axlerose commented on #55
Can you explain how to flash directly to the flash

[2019-01-08 20:58] anmaped commented on #55
@axlerose You have to use a programmer like CH341 but you have to remove the chip from the pcb first and then use a soic test clip for flashing it.

[2019-01-09 09:08] linkiln commented on #55
@anmaped I've got removed chip in programmer. Now i shoud flash it with u-boot-lzo-with-spl.bin file and thats it ?

[2019-01-17 13:24] therosss commented on #55
@anmaped Could you provide me a link to the right programmer? My doesn't really list the correct winbond chip. i already got all needed components.
I#d write the stuff down and upload some pictures for other people who want to do the same thing.

I made an initial backup, then tried to flash the custom bootloader, which flashed sucessfully. after re-soldering the flash, the cam is dead.
I tried re

[2019-01-23 11:52] anmaped commented on #55
@therosss I will upload a new bootloader soon. I have changed some pinouts in the current bootloader version but I didn't get enough time to test it well.

You can try my [dump](https://github.com/anmaped/openfang/blob/master/doc/sxj02ZM/dump.tar.xz) and use the [ch341prog](https://github.com/setarcos/ch341prog).
It should work well. I also detected that the windows programmer is not reliable enou

[2019-01-31 18:52] llimz commented on #55
Hello, with a mijia 1080p white back I successfully uploaded your last boatloader (dump file from your previous message). I opened the camera and use a ch341 programmer with clamp to flash the chip. Before writing your dump file, I erased the chip and then write the dump file.

Then I built an SD card with 2 partitions and write the image rootfs.ext2 into the first partition. I can mount this one

[2019-01-31 20:47] anmaped commented on #55
@llimz Are you able to compile the last version of openfang? I will do a release of the unified firmware this week. I'm just unifying some things (mainly video settings), but the current dev version is working well with the camera if you try to compile it.

You just have to use the `u-boot-lzo-with-spl_t20_64M.bin` bootloader.

[2019-02-01 12:09] llimz commented on #55
Yes, I compiled successfully the last dev version from your git repository this morning. This is the files generated I get as result:

![capture d ecran 2019-02-01 a 13 03 31](https://user-images.githubusercontent.com/507612/52122067-0409b780-2622-11e9-8ddf-8cda1cc1d2be.png)

After compiling your code, I built the SD card with the last rootfs.ext2 file on the first partition. And format the second

[2019-02-01 14:01] anmaped commented on #55
@llimz Great! You only have to format the second partition in exfat. I didn't add support for fat32 due to the lack of wear-leveling.

[2019-02-01 14:28] llimz commented on #55
Sorry, it is still the same.. Led blinking orange. I formatted the second partition with the command line

`mkfs.exfat /dev/sdc2`

This is the partitions on my SD Card

![capture d ecran 2019-02-01 a 15 27 33](https://user-images.githubusercontent.com/507612/52128695-f3fbd300-2635-11e9-8298-ab83b961b700.png)

[2019-02-01 14:37] anmaped commented on #55
Could you try this `wpa_supplicant.conf` file ?
[code]

[2019-02-01 15:33] llimz commented on #55
Not working. I tried to check if the wpa_supplicant.conf file is correctly used and I saw that this file is copied in the /etc directory of the SD card. So I assume that the boot process and scripts are running correctly when powering the camera.

Is there any log files I can check written somewhere in the SD Card to find out where the problem could be? Or can you see something else to check/try?

[2019-02-01 17:32] jesperrix commented on #55
Sorry to jump in, but i just want to know if it is a prerequisite to program the custom bootloader from @anmaped in order to flash the openfang on the camera, i am really missing RTSP stream. The Mi Home is very unstable for me.

[2019-02-01 18:17] anmaped commented on #55
@llimz Strange! Are you using the compiled bootloader? If the file was replaced means that the init scripts are running.

You could add to the init script file `S01logging` the command `dmesg > /var/log/mycurrent.log` to dump the `dmesg` output to a file.

@jesperrix Yes, It only works with the new bootloader.

[2019-02-01 20:41] llimz commented on #55
@anmaped Actually, I just found out that it is working ! Yes, I'm using the compiled bootloader. I still have the blinking orange led BUT I can reach the IP cam with SSH. The problem remaining is that the IP address and the Mac address is changing every time I powered down/up the camera... I will open a new thread into your github project after some investigations here to see why I had this behavi

[2019-02-01 20:47] anmaped commented on #55
@llimz Yes. I will fix it!

[2019-02-03 11:45] therosss commented on #55
@anmaped thank you for the provided dump-file. I flashed it through my MacBook, and the cam is live again.
The cam writes log-files onto the SD (don't know if it is by default like this).
I prepared the SD-Card like explained:
- images-0d1384c.tar.xz - rootfs.ext2 into the first partition of the sd
- second partition formatted to exfat
- wpa_supplicant.conf including credentials created in the exf

[2019-02-07 21:42] therosss commented on #55
Ok, flashed the chip with anmaped's bin file and the camera came back to life.
Now, I cannot flash the bootloader onto the chip without getting the error message
[code]

@llimz could you make me a dump of your flash chip which already includes the bootloader? I'm having troubles in getting the bootloader into my dump/chip without screwing it up.
I would be very thankful if you could send me a dump

[2019-02-07 22:05] anmaped commented on #55
@therosss You just need the bootloader bin and nothing else. Try to erase the nand/nor before.

[2019-02-07 22:06] anmaped commented on #55
@llimz and @therosss Someone could do a small tutorial on how to flash bootloaders on T20 SOCS using CH34a? Thanks in advance.

[2019-02-07 22:19] therosss commented on #55
@anmaped Sure :)
I can take care of a little guide.
Pictures will follow later on.
I desoldered only 1 leg of the SOP and it was enough to be able to program it.
I'll try erasing the chip and then applying the bootloader binary only (which is only about 200kb) which I got from the latest release from 2 months ago.

[2019-02-07 22:32] anmaped commented on #55
@therosss What pin? reset line? This bootloader will not work, I will provide you with the new binary.

[2019-02-08 06:44] therosss commented on #55
@anmaped Preferably Pin 8, VCC, as anything else might power-up the rest of the board through the SOP Chip (something which happens if you don't desolder anything off the board).
I'm still struggling with the bootloader flashing as my camera dies when I flash it.
As soon as I get that done, I will buy another camera, and do a whole tutorial from disassembling the camera, to installing the c34a pro

[2019-02-08 06:47] llimz commented on #55
I can provide on a public URL the last bootloader I compiled. But @anmaped, you may prefer to publish first on your release page on your github repo?

[2019-02-08 06:56] therosss commented on #55
@llimz

@anmaped uploaded me a bootloader in his issues thread. But as said above, after erasing thee SOP and then flashing the bootloader binary onto it, the camera acts like it's dead.
- Desoldered a pin.
- used "./ch341prog -e" to erease the SOP
- used "./ch341prog -w u-boot-lzo-with-spl_t20_64M.bin" to write the bootloader
Console output:

[code]

SDs are already prepared.
But not even a LED b

[2019-02-08 08:00] llimz commented on #55
I did not have to unsolder any pin for progamming the camera here. I only had to unplugged the board from the IR led and MIC (the front panel).

Here are the 2 bootloaders I compiled the 2nd of February (64 and 128MB)
[u-boot-lzo-with-spl_t20_64M.bin.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/2844129/u-boot-lzo-with-spl_t20_64M.bin.zip)
[u-boot-lzo-with-spl_t20_128M.bin.zip](htt

[2019-02-08 08:24] therosss commented on #55
Thanks for the input @llimz
I took all wires out and even unplugged the lens module off the board - still no way to program the SOP while it is soldered on the board :( Kind of annoying having to de-solder 1 pin each time I want to flash the SOP.

Anyway, the bootloader does its thing.
anmaped gave me a compiled rootfs-image and the cam is now booting up properly.

Just having issues with the web

[2019-02-08 11:19] llimz commented on #55
I'm using the 64MB version. The file is too big. I put it on wetransfer https://we.tl/t-h6XYvLRvH8

[2019-02-08 11:45] therosss commented on #55
Thanks @llimz
I'm in the process of ordering a new cam to make a full guide for the process.

[2019-02-08 19:29] thachnb85 commented on #55
Great work @therosss
Have fun reading this everyone: https://dgiese.scripts.mit.edu/talks/DEFCON26/DEFCON26-Having_fun_with_IoT-Xiaomi.pdf

[2019-02-10 17:28] robromano opened #61 "CLOUD_DISABLED=1 not implemented?"
The valhalla.sh script doesn't really disable the cloud. Is this intentional?

This is the snippet, says "TODO":

[code]

[2019-02-15 10:07] axlerose commented on #55
Many thank @therosss please share to us the guide when it was complete

[2019-02-21 10:02] YevhenPavliuchek commented on #55
i have SXJ02ZM version 3.4.5_0046 with white back
can i integrate it with home assistant ? and how ? so many discussions but not positive answer (

[2019-02-22 05:25] therosss commented on #55
Ich did not get my hands on a new cam yet, but I am still trying to so I can make the promised guide for you Guys!

[2019-03-03 10:19] therosss commented on #55
Cam is on it's way, but it can take 2 more weeks until it arrives from china.
I will do a complete guide then.

@anmaped could you prepare a release on your repo by then?
I'd avoid the compilation by now :)

[2019-03-04 00:50] anmaped commented on #55
@therosss Sure! We'll release the first version of openfang - openfang01.

[2019-03-05 09:44] perrykipkerrie commented on #55
First, thank you all for your hard work on this subject.

@therosss  I'm looking forward to follow your guide. I'm having one question, when the guide is ready, do I need a CH341 programmer with clamp like @llimz told?
If so, I will order one already and hopefully it will arrive in time.

[2019-03-05 10:29] therosss commented on #55
@perrykipkerrie yes, You should order one as you will need it. You will also have to desolder 1 leg of the SOP.
Some people say they can program the SOP without having to desolder anything, but in my case that didn't work out.

[2019-03-08 11:16] therosss commented on #55
@anmaped
Ready for a release?
I just received the cam and I would take care about a guide in 2 days

[2019-03-12 07:01] vladviolentiy commented on #55
What about SXJ02ZM and RTSP?

[2019-03-12 07:11] therosss commented on #55
Works :)

[2019-03-12 07:27] vladviolentiy commented on #55
How i can use RTSP? i write to flash folder release0.8.7 with configs but RTSP not work

[2019-03-12 08:48] therosss commented on #55
Your cam is not compatible with this Release.
You have to Flash the bootloader of Openfang from @anmaped
This involves soldering and SOP flashing.
I will release a guide shortly after I get a compiled release. You will have to buy additional hardware to flash your camera

[2019-03-12 10:02] vladviolentiy commented on #55
what hardware i need buy?

[2019-03-12 18:06] jannodeluxe commented on #55
Waht about the support of "Original Xiaomi Mijia Smart Camera 1080P 130 Wide Angle 2.4GHz" with CMIIT ID 2018DP2586?

[2019-03-14 22:45] anmaped commented on #55
@therosss Could you use this image as example https://we.tl/t-eouUKOh9Hb ? I would like to include your guide in the new settings of the new release.

Something like we have for wyzecp1 https://github.com/anmaped/openfang/blob/master/doc/wyzecp1_instructions.md

A. Hack (the reason why we are writing in this repository)
B. Openfang Installation instructions

[2019-03-15 06:22] anthosz commented on #55
Hi,

Where I can find the guide to add rtsp on this camera? (https://m.joybuy.com/600356031.html) (seems linked to the description but not the color)

[2019-03-15 07:51] therosss commented on #55
@anmaped will do so this weekend.
@anthosz that is the mijia 1080p v3 (usually cheaper to get). To add RTSP on it, you need to hack it a little bit. You need to get the openfang bootloader from anmaped on the cam. Unfortunately this can only be achieved by using a programmer to flash the openfang bootloader into the SOP.
This repo of mijia-1080-hacks is outdated and left alone. You need to get to

[2019-03-15 22:01] therosss commented on #55
So far, so almost good....
I'm doing the guide and went quite far.

Yet I seem to have a problem with your image @anmaped
The second partition shall be exFat i Presume, like on the other ones.
the cam boots, does some blinks, and then stays at orange with very short purplpe blinking once in a while.
After each boot, the cam re-writes the "default" wpa_supplicant.conf in /etc
It looks like the cam

[2019-03-16 03:36] anmaped commented on #55
Just use the openfang acess point to configure the wireless network!

[2019-03-16 09:21] therosss commented on #55
Ah riiiight
Just saw it was launching an AP.
When connecting to it, I can ssh to it.
Unfortunately I can't sudo Admin in order to edit the wpa_supplicant.conf
I can't See any info in your documentation @anmaped

If you would guide me real quick, I'd be thankful to add this in the guide.
Maybe I just need the user and password of the root account.

[2019-03-16 09:25] therosss commented on #55
Edit..

Ich was able to sudo into root after all.
After editing the wpa_supplicant.conf and rebboting the Cam, it still does not connect to the network.
Any hint?

[2019-03-16 11:44] llimz commented on #55
If you are connected to the camera AP, just open a webbrowser to the access point ip address. Log in with admin/admin and go to the settings/wireless tab to setup the wifi connection.

With my camera, the IP address to use is 192.168.14.1 when connected to the AP.

[2019-03-16 13:25] therosss commented on #55
edit 2 ...
There was no lighttpd service running, as the /etc/ssl/lighttpd.pem is empty.
I disabled the rewrite-rule and took all the https stuff out of lighthttpd, and it booted. after that I was able to change the wireless settings and got the cam in my network now.

This clearly is  bug of the current release.
I guess I will not include this in my tutorial, as this might be fixed by @anmaped in

[2019-03-16 15:14] anmaped commented on #55
It's not a bug. You have to use the web ui to configure the model and wireless network.

Use openfang gitter channel.

[2019-03-16 18:53] jannodeluxe commented on #55
@therosss Is there anything new about the guide / tutorial or where I can support?

[2019-03-18 14:54] therosss commented on #55
Here's the guide, @jannodeluxe @anthosz @perrykipkerrie @axlerose  . No need of anything at the moment. Feel free to let me know if anythign is wrong.

https://github.com/therosss/openfang/blob/master/doc/SXJ02ZM/SXJ02ZM_instructions.md

[2019-03-20 09:34] axlerose commented on #55
@therosss thank you very very much i'm waiting for the programmer and then i try your guide

[2019-03-20 16:49] JohnRev commented on #55
Good job with the documentation, @therosss
And thanks @anmaped for making openfang available for this camera version.

@therosss just a note: the command I had to use to start lighttpd after generating the certificates was:
`./S50lighttpd start`

Edit: Also, for whatever reason the generated key kept getting deleted. I realized it's from these lines in S02factory:
[code]
I tried saving the generat

[2019-03-20 17:51] therosss commented on #55
Hey John.
Thanks for the input. You are right- it was S50 :)
Anyway, the bug is fixed in the last commit, and you don't need to do those steps anymore.
Please Check the original repo from anmaped to see the latest changes.

Feel free to join the conversation over gitter.
We need more people to get involved into this project :)

I'd like to see an Integration into dustcloud for example ;)

I alread

[2019-03-25 19:37] jesperrix commented on #55
Anyone who can provide me a new link to `u-boot-lzo-with-spl_t20_64M.bin`? The shared links above are expired.

Never mind, i managed to compile the .bin using the Docker container. Thanks for the work!

[2019-03-27 22:33] fmsduran commented on #55
Hi,
I interested in rtsp protocol, then with the openfang firmware is possible?
Thanks very much, and excuseme for my level of English

[2019-03-28 13:35] mrhang22 commented on #55
Hello what would someone have a link to u-boot-lzo-with-spl_t20_64M.bin ?

[2019-03-28 14:22] therosss commented on #55
here you go @mrhang22 and @jesperrix
https://megaupload.nz/W2IaSdU8mb/u-boot-lzo-with-spl_t20_64M_bin

[2019-03-28 15:31] mrhang22 commented on #55
After reprogramming the LED no longer lights up. The file is only 236kB while the original file is 16MB.

The end of the memory must be at FF?

[2019-04-03 22:47] pablo-tx commented on #55
@mrhang22 The same happened to me, after that I've compiled the last version and it works now.

Here you go, the bin and the rootfs: https://mega.nz/#F!0xtVSayS!DxZawSANY2IIXhypJG_UJQ

[2019-04-04 05:19] mgx0 commented on #55
So following the guide will be enough to ge this done?

[2019-04-04 19:45] pablo-tx commented on #55
@mgx0 yes, i can confirm it works, but i think it needs some changes:

1. I didn't need to de-solder anything, just using the clamp was enough to flash.
2. The guide says to go to releases page and flash the last version, but that one (rc5) isn't working with this camera, you have to compile yourself or use the files I shared above.

[2019-04-05 00:04] pcmester commented on #55
Could somebody make a guide how to flash the chip with a Raspberry Pi?

[2019-04-05 04:35] mgx0 commented on #55
@pablo-tx perfect, thanks. I'm waiting for my programmer to arrive and then I'll do it. I'll post my results here. Good job folks!

[2019-04-05 09:22] therosss commented on #55
@pablo-tx this is a random thing with desoldering a leg or not. I had a few cams and I had to desolder the vcc leg. Regarding the release, I was hoping that @anmaped would release a rc for people to get started at least to be able to flash their ICs. This didn't happen yet.

Feel free to push a guide refinement about this :)

[2019-04-05 17:00] jesperrix commented on #55
I also had to desolder the vcc leg and compile it myself. But mine seems a little buggy, I cant get the sound on the RTSP feed working nor the IR leds for nightvision. Are yours working?

[2019-04-06 05:11] chrispri commented on #55
Everything works fine but the settings in the webinterface will not be saved. After a reboot all settings are default again.
Do I have to solder the leg after programming?

[2019-04-07 13:59] pablo-tx commented on #55
@jesperrix I can activate the led from the web interface pressing OFF, if I press ON nothing happens, also most of the options don't work very well and don't persist across reboots.
I will try to fix it and send a pull request

About the sound, I couldn't make it work.

[2019-04-08 10:23] mgx0 commented on #55
proud to say a successful flash! Had to desolder the leg too. Please update the last lighthttpd start, it's S50lighthttpd.

Now, the camera is freezing, dropping connections, some controls are reverse (for example blue and yellow light are the opposite). I guess we have to report that to Openfang thread, right?

[2019-04-11 08:29] santiacho commented on #29
I'm having problems to re-pairing the camera to Mi Home app, my reset button stoped working (some time before the hack) It seems a hardware problem.

Does anybody know how could I reset the camera via script and/or command?

I need to delete previous wifi settings and start again but I do not know what else to try.

Thanks.

[2019-04-11 08:31] santiacho opened #62 "[Hardware]: Reset button not working"
I'm having problems to re-pairing the camera to Mi Home app, my reset button stoped working (some time before the hack) It seems a hardware problem.

Does anybody know how could I reset the camera via script and/or command?

I need to delete previous wifi settings and start again but I do not know what else to try.

Thanks.

[2019-04-11 08:35] santiacho commented on #36
I'm having problems to re-pairing the camera to Mi Home app, my reset button stoped working (some time before the hack) It seems a hardware problem.

Does anybody know how could I reset the camera via script and/or command?

I need to delete previous wifi settings and start again but I do not know what else to try.

Thanks.

[2019-04-19 09:04] Routout commented on #55
So have someone get this working properly with new mija 1080p camera? Just opened mine, but not certain if I even bother to try if big problems persist.

[2019-04-19 11:26] therosss commented on #55
Please read the thread (Last 30 Posts) ....
You will find your answer

[2019-04-20 15:20] mgx0 commented on #55
well, I erased section 2860 from nvram :D is there anyone who can show me what it contains? I'd like to set it back ... I was trying to find IR and IRCUT pins but did a typo and the 2860 is gone :D

[2019-04-20 17:44] mgx0 commented on #55
anyone? please paste the output of "nvram show" here 😄 there are still incorrect pins but still I'd like to get it back

[2019-04-27 20:36] mckebabs commented on #55
Maybe I'm missing something but I don't see anybody saying anything beside successful flashing.
Maybe you know how much of a functionality of e.g. V2 hack is supported? All/some/the camera is unstable and you shouldn't hack it for "production" use?

[2019-04-27 22:56] martin-schlossarek commented on #55
Do I have to re-solder the vcc leg again if I want to start the camera?

[2019-04-28 04:26] mgx0 commented on #55
@martin-schlossarek yes you have to connect it again. Just use some thin wire, don't bend the leg back. Just in case you need to desolder it again

[2019-04-28 18:12] pascalsaul commented on #55
Reprogramming was successful but also no LED activity. I did notice some short circuit when detaching the SOC cable with a detached and isolated VCC.... Looks like a bricked one now where the DC supply is faulty...

[2019-05-01 13:37] wxlie opened #63 "FW 3.5.1"

[2019-05-01 13:39] wxlie commented on #63
Observations:
- SSH still works after upgrading
- RTSP does not work when enabled
- Unable to connect from Mi Home app after enabling RTSP

Let me know how I can contribute further.

[messages.log](https://github.com/Filipowicz251/mijia-1080P-hacks/files/3134649/messages.log)
[miio_client.log](https://github.com/Filipowicz251/mijia-1080P-hacks/files/3134648/miio_client.log)

[2019-05-01 13:41] Little-Johnny commented on #63
I have had the exact same experience....

[2019-05-05 19:56] Alexxus commented on #55
So I successfully flashed my camera. Everything was working fine, until I changed the wireless settings and pressed "reboot". Now the camera acts like it's dead. No LED lights, no nothing.
What could be the problem?
What can I do now?

[2019-05-05 22:50] anmaped commented on #55
@Alexxus This thread was closed, please report your problems in https://github.com/anmaped/openfang/issues and please follow the rules in https://github.com/anmaped/openfang/

[2019-05-30 18:19] stopamarcin opened #64 "compatible with cmsxj16a"
Is this compatible for Xiaomi cmsxj16a?
https://www.xiaomi.ua/ip-kamera-imi-xiaobai-smart-camera-ptz-edition-cmsxj16a/p22417/

[2019-06-16 13:39] imago54 opened #65 "Micro SDXC card support"
Looks that hack is not working on cards with capacity larger then 32GB.

[2019-07-13 18:03] Csontikka commented on #64
Hi!
very interesting question. Is there anybody who tried it since then?

[2019-07-13 19:39] Csontikka commented on #64
I also have found a recovery FW for this model.
[here](https://www.dropbox.com/s/3sc0ox7vxacchi5/IPC016_16.3.4.5_0081.zip?dl=0)

[2019-07-13 19:40] Csontikka commented on #64
I also have found a recovery FW for this model.

[IPC016_16.3.4.5_0081.zip](https://github.com/Filipowicz251/mijia-1080P-hacks/files/3389171/IPC016_16.3.4.5_0081.zip)

[2019-10-30 16:56] evilUrge opened #66 "Can't connect to my network using MI home app"
I've installed version 0.8.7 with 0099 firmware, the firmware was installed successfully and downgraded my camera (`tf_recovery.img` was renamed to `tf_recovery.img.bak` )

Because it wasn't connected yet to MI Home; I had to remove the SD card and connect it to my network via MI Home.

The camera was talking in Chinese as it should; but i never managed to pass the WIFI QR Code scanning
I suspect

[2019-10-30 17:55] tobbegutt commented on #66
try connecting using other method as it will be using Bluetooth. i have experienced this myself.

Sendt fra min MI MAX 3
Den Gilad Maoz <notifications@github.com>, skrev 30. okt. 2019 17:56:

I've installed version 0.8.7 with 0099 firmware, the firmware was installed successfully and downgraded my camera (tf_recovery.img was renamed to tf_recovery.img.bak )

Because it wasn't connected yet to MI H

[2019-10-31 07:09] evilUrge commented on #66
Yeah I read about it before; but because I couldn't find "Pair using bluetooth" in MI home I thought it's not possible.

Just downgraded to [4.0.11](https://www.apkmirror.com/apk/xiaomi-inc/mihome/mihome-4-0-11-release/) and it worked!!!!! =D

Thanks @tobbegutt

[2019-10-31 07:09] #66 closed

[2019-11-13 15:42] easwee commented on #52
Can confirm I have this same issue - could be possibly related to running on 2.4ghz instead of 5ghz wifi? Although this is a dual-band camera - it should work.

[2019-11-21 14:05] easwee commented on #52
Solved this by upgrading to latest firmware - now everyhitng works as expected.

[2019-12-31 02:37] none815 commented on #55
This might have something to do with the voltage supply, if the drop-off is significant enough it won't be able to start the device but could be sufficient to (only) power the flash ic.

Edit:
I got it working by dropping HOLD (pin 7) and VCC (pin 8), this can be done with some dupont wires:
![1](https://user-images.githubusercontent.com/59322886/71787661-0be48f80-301b-11ea-88c6-c3280cfd85d1.jpg)

[2020-01-07 16:01] borissedov commented on #64
No, it's not compatible with cmsxj16a
Just tasted.

[2020-01-20 11:33] francik12 opened #67 "Xiaomi Mijia 360 1080p - RTSP"
Will the tutorial and files from the topic (https://github.com/Filipowicz251/mijia-1080P-hacks/issues/5)
 or other work with the Mijia 360 1080p camera - if not, do you plan to work on running rtsp in this camera

i mean this camera:
![image](https://user-images.githubusercontent.com/6079142/72723490-1194b600-3b81-11ea-987c-40b6790a49b8.png)

[2020-01-29 17:20] ciB89 commented on #55
Is this still under development? I feel like Dafang is making a lot of progress and the promised RC6 has still not been published. A lot of stuff seems not to be working properly.

[2020-02-14 21:02] Nunak commented on #59
Yes please! If possible please make support for audio to rtsp .

[2020-03-30 08:49] eteixido1 commented on #55
Hello, could you please verify if desoldering is not needed anymore? if we use dupont male to female between clamp and the first clamp-base we need de second base to do the bridge?
![c341a_clamp](https://user-images.githubusercontent.com/52964958/77893226-ef4fa080-7273-11ea-984d-74dff188aacf.jpg)

[2020-04-02 19:19] mgsqz commented on #52
but It seems that unable to keep the hack after upgrading to latest firmware

[2020-04-25 22:14] jlazkano commented on #55
Hello,

I open the camera and put the programer, the green LED (RUN) is ON in the programmer, but this the output:

[code]

Need I to desolder any leg of the chip?

![IMG_20200426_000940](https://user-images.githubusercontent.com/5501927/80291992-ce834980-8752-11ea-89e0-69d3adcc18f7.jpg)

Thank you very much.

[2020-04-26 09:39] lio2001 commented on #58
you managed ?? pass me the configuration? thanks

[2020-04-29 15:10] Supersimmons opened #68 "Model SXJ02ZM"
Hello,
this hack is compatible with model SXJ02ZM?

Thanks

[2020-05-05 09:00] inggaro opened #70 "Mija 1080P stops after few reboots"
Hi,
I own a Mija 1080P; I succeded in applying the hack (I tried several versions) and it works fine (RTSP, webserver,...). However, it stops after few reboots (usually 2-3): the led become orange and nothing happens.

any idea?

Thanks

Garo

[2020-05-12 06:12] mapoloco opened #71 "No sound in 0.8.7 RTSP"
Hello, i have added hacks in 3 mijia 1080p (black ass) but in rtsp I have not got sound. Can anybody help me please?

[2020-06-11 14:15] ghost commented on #68
Hi,

I have same issue: not downgraded, the camera just turns on with prepared microSD and starts to work as usual as if the are no files of downgrade. So I take the sd card off and on pc I look in, and what I see the image file is renamed to "tf_recovery.img.bak". Camera xiaomi mijia 1080p with 4.0.7_0088 firmware

Who can help?

Thanks.

[2020-06-28 13:35] saarsinai commented on #64
would love to see compitability with this camera also:
cmsxj16a